{% extends 'base.twig' %}

{% block content %}
{% include '/public/theme/google_remarketing_index.twig' %}
{% include 'navigation.twig' %}
{{ index_focus|raw }}
<!--fenlei -->
<div class="navtypeview">
    <div id="category" class="swiper-container" style="height: 37px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="vertical-view check" href="/">全部商品</a>
            </div>
            {% for c in category_title %}
            <div class="swiper-slide">
                <a class="vertical-view" href="./?category_id={{ c.id }}&show=1">{{ c.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--模块产品-->
    <div class="" id="module_one" style="display: none;">
        <div class="titleimg" style="background-image: url('{{ THEME }}/image/catebak.jpg');"><span>{{lang.recommend}}</span></div>
        <div id="typeScrollder">
            <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="{url}">
                            <img src="{thumb}" alt="{title}">
                            <h4 class="title">{title}</h4>
                            <p>{shop_price}</p>
                        </a>
                    </div>
                <div class="swiper-scrollbar"></div>
            </div> 
        </div>
    </div>
<!--首页产品-->
    <div id="content" style="display: none;">
        <div class="titleimg" style="background-image: url('{{ THEME }}/image/catebak.jpg');"><span>{{lang.recommend}}</span></div>
        <div class="row wcolor">
             
        </div>
    </div>
<div id="module_dome" style="display: none;">
    <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 items">
        <a href="{url}">
            <div class="thumbnail">
                <div class="tagWraper">
                    <div class="imgthumb lazyload empty">
                        <img src="{thumb}" alt="{title}">
                    </div>
                    <div class="desc">{description}</div>
                </div>
                <div class="caption">
                    <div class="tips"><span>限时特惠</span></div>
                    <h4 class="title">{title}</h4>
                    <p>{shop_price}</p>
                </div>
            </div>
        </a>
    </div>
</div>
<script src="{{ THEME }}/script/index.js"></script>
<!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->
<!--script>$.init()</script-->
{{ footer|raw }}
{% endblock %}
{% block footer_js %}
{% endblock %}

