{% include '/public/theme/header.twig' %}
<!-- resource -->
<link href="{{ THEME }}/images/favicon.ico" type="image/x-icon" rel=icon>
<link href="{{ THEME }}/style/checkout.css" type="text/css" rel="stylesheet"/>
<!--  -->
<input id="region_code" value="{{ regions.code }}" type="hidden">
<input id="identity_tag" value="{{ identity_tag }}" type="hidden">
<!--  -->
<div class="g-bd">
    <div class="title">
        <div class="back"></div>
        <div class="conirm">{{ lang.confirm_order }}</div>
    </div>
    <!--  -->
    <div id="order">
        <div class="warp">
            <form id="form" name="form" action="order.php" method="post" onSubmit="return prepost()">
                <!--  -->
                <input type="hidden" name="combo_id" value="">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" id="act" name="act" value="getAttrPrice">
                <input type="hidden" name="product_id" value="{{ product_id }}">
                <!--套餐-->
                <div class="m-goodItems">
                    <ul class="m-list m-attrs">
                        <div class="m-goodItem">
                            <div class="imgWrap">
                                <img src="{{ thumb }}">
                            </div>
                                <!--选中的套餐-->
                                <div class="cnt">
                                    {% if combo %}
                                        {% for c in combo %}
                                            <div class="combosid_{{ c.combo_id }}" style="display: none">
                                            {% for g in c.goods %}
                                                <div optionsGroup goodid="{{g.combo_goods_id}}">{{ g.title }}</div>
                                                {% if g.options %}
                                                    {% for o in g.options %}
                                                        {% for key,attr in o.attr %}
                                                            <span style="display: none;" optionsKey goodid="{{g.combo_goods_id}}" group="{{ o.attr_group_id }}" attrid="{{attr.product_attr_id}}">{{ o.attr_group_title|raw }}:{{ attr.name|raw }}</span>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                                <span class="product_numtext"></span>
                                                <br>
                                            {% endfor %}
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                        <div style="color:#464646;font-size: 16px;">{{ title }}</div>
                                        {% for o in  options %}
                                        <div class="con" optionsGroup style="color: #464646;display: inline-block;" data-id="{{ o.attr_group_id }}">
                                            {% for key,attr in o.attr %}
                                                <span optionsKey attrid="{{ attr.product_attr_id }}" data-id="{{ attr.product_attr_id }}" style="display: none;">{{ attr.attr_group_title|raw }}:{{ attr.name|raw }}</span>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                        <span class="product_numtext"></span>
                                    {% endif %}
                                    
                                    <!--非套餐属性开始-->

                                   

                                     <!--属性结束-->
                                     {% if currency_prefix == 1 %}<div class="price">{{ currency_code }} <combprice></combprice></div>{% endif %}
                                     {% if currency_prefix == 0 %}<div class="price"><combprice></combprice>{{ currency_code }} </div>{% endif %}
                                     <input id="mun" type="hidden" name="num" type="text" value="">
                                </div>
                            </div>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
                <div class="final_price">
                    <div class="ship"><span class="left">{{ lang.freight_long }}：</span><span class="right">{{ lang.free_yun }}</span><div style="clear:both"></div></div>
                    {% if currency_prefix == 1 %}<div class="total"><span class="left">{{ lang.total_price }}：</span><span class="right">{{ currency_code }}<span id="price"></span></span><div style="clear:both"></div></div>{% endif %}
                    {% if currency_prefix == 0 %}<div class="total"><span class="left">{{ lang.total_price }}：</span><span class="right"><span id="price"></span>{{ currency_code }}</span><div style="clear:both"></div></div>{% endif %}
                    
                </div>
                <div class="address-input">
                    <div class="buy-single-row label-input">
                            <div class="cell">
                                <input required="required" placeholder="{{ lang.addressee }}" type="text" name="name" class="inputText">
                            </div>
                    </div>
                    <div class="buy-single-row label-input">
                            <div class="cell">
                                <input required="required" placeholder="{{ lang.phone }}" type="number" name="mob" class="inputText">
                            </div>
                    </div>
                    <div class="buy-single-row label-input">
                            <div class="cell">
                                <input placeholder="{{ lang.email_address }}" error="{{ lang.test_email }}" type="email" name="email" class="inputText">
                            </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell select" id="province">
                            <select name="province">
                                <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
                            </select>
                        </div>
                        {% if regions.region_son and regions.code != "TW" %}
                            <div class="cell" id="city">
                            <!-- <select name="city">
                                <option value="{{ regions.region_id }}" selected>{{ lang.select_city }}</option>
                            </select> -->
                                <select name="city">
                                    <option value="">{{ lang.province_choose }}</option>
                                    {% for i in regions.region_son %}
                                        <option value="{{ i.lang}}">{{ i.lang }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <div style="clear:both;"></div>
                    </div>
                    {% if regions.code == "TW" %}
                        <div class="buy-single-row label-input">
                            <div class="cell select">
                                <select name="city" required="required">
                                    <option value="">{{lang.city}}</option>
                                </select>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="buy-single-row label-input">
                            <div class="cell select">
                                <select name="district" required="required">
                                    <option value="">{{lang.district}}</option>
                                </select>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        {% endif %}
                    <div class="buy-single-row label-input">
                            <div class="cell">
                                <input required="required" type="text" name="address" placeholder="{{ lang.address_full }}" class="inputText">
                            </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="cell">
                                <input type="text" name="postal" class="inputText" placeholder="{{lang.postal}}" error="{{ lang.test_postal }}">
                            </div>
                        </label>
                    </div>
                    <div class="buy-single-row label-input">
                            <div class="cell"  style="height:41px;padding-top:4px;">
                                <textarea placeholder="{{ lang.remark }}" name="guest" class="text_area" rows="1"></textarea>
                            </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell" style="border:none;display:inline-block;margin-left:-2%;">
                            {% if payment_underline ==1 %}
                                <input name="payment_type" value="0" id="0" type="radio"><label for="0" class="check">{{ lang.cash_on_delivery }}</label>
                            {% endif %}
                            {% if payment_online ==1 %}
                                <input name="payment_type" value="1" id="1" type="radio"> <label for="1">{{ lang.yijifu }}</label>
                            {% endif %}
                            {% if payment_paypal == 1 %}
                                <input name="payment_type" value="2" id="2" type="radio"> <label for="2">paypal</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--  -->
                <div style="padding: 15px;font-size: 14px;color: #666;text-align: left;">
                    {{ lang.warming|raw }}
                </div>
                <footer class="m-orderFt">
                    <button class="btn w-button" type="submit" name="Submit" value="{{ lang.buy_now }}">{{ lang.order_sure }}</button>
                    <input type="hidden" data-cuckootag="confirm_order">    
                </footer>

                <!--  -->
                <script>
                var quotes=new Array("{{ title }}");
                </script>
                <div id="fahuo" style="padding: 0 15px 20px 15px;color: #666;text-align: left;margin-top: 15px;font-size: 12px; margin-bottom: 60px;">
                </div>
                <!--  -->
            </form>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<!--  -->
<script type="text/javascript" src="{{ THEME }}/js/checkout.js"></script>
<script type="text/javascript">
    var marquee = new Array(
        "<p><span>[{{ lang.latest_buy }}]：</span>{{ lang.zhang }}**（095***6831）{{ lang.zai }}1{{ lang.buy_time }}"+quotes[Math.floor((Math.random()*quotes.length))]+" <font color='#FF0000'>√</font></p>",
        "<p><span>[{{ lang.latest_buy }}]：</span>{{ lang.li }}**（093***1685）{{ lang.zai }}3{{ lang.buy_time }}"+quotes[Math.floor((Math.random()*quotes.length))]+" <font color='#FF0000'>√</font></p>",
        "<p><span>[{{ lang.latest_buy }}]：</span>{{ lang.zhao }}**（091***8603）{{ lang.zai }}5{{ lang.buy_time }}"+quotes[Math.floor((Math.random()*quotes.length))]+" <font color='#FF0000'>√</font></p>",
        "<p><span>[{{ lang.latest_buy }}]：</span>{{ lang.liu }}**（093***3943）{{ lang.zai }}2{{ lang.buy_time }}"+quotes[Math.floor((Math.random()*quotes.length))]+" <font color='#FF0000'>√</font></p>",
        "<p><span>[{{ lang.latest_buy }}]：</span>{{ lang.zhang }}**（098***5500）{{ lang.zai }}4{{ lang.buy_time }}"+quotes[Math.floor((Math.random()*quotes.length))]+" <font color='#FF0000'>√</font></p>",
        "<p><span>[{{ lang.latest_buy }}]：</span>{{ lang.wang }}**（092***0214）{{ lang.zai }}6{{ lang.buy_time }}"+quotes[Math.floor((Math.random()*quotes.length))]+" <font color='#FF0000'>√</font></p>"
    );
    var wfgdaa = 0;
    var wfgdbb = 1;
    function marqueeL(){
        if(wfgdaa>(marquee.length-1))
        wfgdaa = 0;
        if(wfgdbb>(marquee.length-1))
        wfgdaa = 0;
        wfgdbb = wfgdaa +1;
        var marHTML = marquee[wfgdaa]+marquee[wfgdbb];
        document.getElementById("fahuo").innerHTML = marHTML;
        wfgdaa +=1;
        wfgdbb +=1;
    }
    window.setInterval("marqueeL()", 3000);
    loadstate();
    $('[name="city"]').change(function(event) {
        var id = $(this).find("option").not(function () { return !this.selected }).attr('data-id') * 1;
        loadCity(id);
    });
    function loadstate(){
        var region_id = '{{regions.region_id}}',regionCode = '{{regions.code}}';
        if(regionCode == 'TW'){
        $.post('/region.php', { 'region_id': region_id }, function(data) {
            var data = JSON.parse(data);
                data.map(function(item, index){
                    $('[name="city"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
                });
            var id = $(this).find("option").not(function () { return !this.selected }).attr('data-id') * 1;
        });
        }
    }
    function loadCity(id, callback){
        $.post('/region.php', { 'yn_region_id': id }, function(data, textStatus, xhr) {
            var districtFirst = $('[name="district"]').children().first();
            $('[name="district"]').children().remove();
            $('[name="district"]').append(districtFirst);
            $('[name="district"]').val('');
            var data = JSON.parse(data);
            data.map(function(item, index){
                $('[name="district"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
            });
        });
    }
</script>
{% include '/public/theme/footer.twig' %}