{% include '/public/theme/header.twig' %}
<!-- resource -->
<link href="{{ THEME }}/style/index.css" rel="stylesheet">
<link href="{{ THEME }}/style/swiper-3.4.0.min.css" rel="stylesheet" type="text/css" >
<!-- end header resource -->
<div class="title">
	{{ title }}
</div>
<div class="swiper-container">
	<div class="swiper-wrapper">
        <div class="swiper-wrapper">
            {% if video.video_url %}
            <div class="swiper-slide">
                <video width="100%" poster="{{ video.cover_url }}" id="video" preload="false" src="{{ video.video_url }}" controls="controls"
                    x5-playsinline="" playsinline="" webkit-playsinline="">
            </div>
            {% endif %} {% if photos %} {% for p in photos %}
            <div class="swiper-slide">
                <img src="{{ p.thumb }}" width="100%">
            </div>
            {% endfor %} {% endif %} {% if video.video_url is empty and photos is empty %}
            <div class="swiper-slide">
                <img src="{{ thumb }}" width="100%">
            </div>
            {% endif %}
        </div>
	</div>
	<!-- <div class="swiper-pagination"></div> -->
</div>

{% if modulesParam %}
    {% if modulesParam and modulesParam.countdown.options.open == '1' %}
        {% include 'dom_sales.twig' %}
    {% endif %}
{% else %}
    {% include 'dom_sales.twig' %}
{% endif %}


{% include 'dom_salesprice.twig' %}

{% if modulesParam %}
    {% if modulesParam and modulesParam.countdown.options.open == '1' %}
        {% include 'dom_limit.twig' %}
    {% endif %}
{% else %}
    {% include 'dom_limit.twig' %}
{% endif %}

<div class="deliver">
	{{ lang.style_send }}：<span>{{ lang.cash_on_delivery }}</span>
</div>
{% include 'dom_productinfo.twig'%}
<div style="padding: 0 2%;">
    <section id="page-order" data-error="{{ lang.Th_titleattr }}">
		{% include 'cmpt-guige.twig' %}
	<!--  -->
	</section>
    <div class="scroll_tt">{{ lang.new_order }}</div>
    <div style="padding: 8px;background:#f8f8f8; border:2px solid #ededed;border-radius:5px;margin-top:10px;">
        <div class="picMarquee-top">
            <div class="bd" data-fn="commentScroll" style="height:250px; overflow: hidden;font-size:14px;">
                <ul class="picList">
                    <li>
                        <span>{{ lang.zhang }}**（095***3590）</span>
                        <span style="float:right;">4{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                    <li>
                        <span>{{ lang.wang }}**（098***4865）</span>
                        <span style="float:right;">8{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                    <li>
                        <span>{{ lang.li }}**（092***3291）</span>
                        <span style="float:right;">2{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                    <li>
                        <span>{{ lang.zhao }}**（091***6851）</span>
                        <span style="float:right;">10{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                    <li>
                        <span>{{ lang.zheng }}**（092***6851）</span>
                        <span style="float:right;">3{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                    <li>
                        <span>{{ lang.liu }}**（093***3943）</span>
                        <span style="float:right;">1{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                    <li>
                        <span>{{ lang.li }}**（096***3943）</span>
                        <span style="float:right;">1{{ lang.before }}</span>
                        <br>
                        <span>{{ title }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
	<div class="service">
		<span>{{ lang.free_yun }}</span>
		<span>{{ lang.cash_on_delivery }}</span>
		<span>{{ lang.returned_goods }}</span>
	</div>
</div>
<div class="query">
	<div class="content">
		<div class="prompt">{{ lang.inquiry_tip }}</div>
		<div class="from flexbox">
			<input class="inquiry_mob flex" type="text" placeholder="{{ lang.mobile_placeholder }}">
			<button id="go" errormag="{{ lang.mobile_placeholder }}" data-cuckootag="check_order" data-value="{{ identity_tag }}" data-event="custom_check_order">{{lang.order_inquiry}}</button>
		</div>
		<div class="buy_tips">
			<div style="text-align: center;line-height: 16px;margin-bottom: 10px;"><i class="reminder"></i><span>{{lang.repeat_title}}</span></div>
			<p>{{ lang.warming|raw }}</p>
		</div>
	</div>
</div>
<div class="slidebar">
    <div class="top"></div>
</div>
<footer>
    <a href="#formlayer" class="buy_now" style="display:none" data-cuckootag="confirm_order">{{ lang.buy_now }}</a>
    <a href="javascript:void(0)" class="imitatebuy" onclick="checkattrs()">{{ lang.buy_now }}</a>     
</footer>

<!-- footer resource -->
<script src="{{ THEME }}/js/index.js"></script>
<script src="{{ THEME }}/js/guige.js"></script>
<script type="text/javascript">
    window.repeatlang = {
        title:"{{lang.repeat_title}}",
        prompt:"{{lang.repeat_prompt}}",
        prompt_out:"{{lang.repeat_prompt_out}}",
        confirm_order:"{{lang.repeat_confirm_order}}",
        query_details:"{{lang.repeat_query_details}}",
        time_d:"{{lang.time_d}}",
        time_h:"{{lang.time_h}}",
        time_m:"{{lang.time_m}}",
        time_just:"{{lang.time_just}}"
    }
</script>
{% include 'public/theme/footer.twig' %}

