{% include '/public/theme/header.twig' %}
<!-- resource -->
<link href="{{ THEME }}/css/styles.css" rel="stylesheet">
<link href="{{ THEME }}/css/index.css" rel="stylesheet">
<link href="{{ THEME }}/css/swiper-3.4.0.min.css" rel="stylesheet">
<script src="public/jquery-2.2.3.min.js"></script>
<script src="{{ THEME }}/js/jquery.SuperSlide.js"></script>
<style>
    .edui-upload-video{width:100%;background: #333; }
</style>
<!--  -->

<!--  -->
<div class="banner_big">
    <div class="banner_left">
        <dl style="overflow: hidden; border-radius: 15px 15px 0 0">
            <dt class="_thumb_">
                {% if thumb %}
                <img src="{{ thumb }}" alt="">
                {% endif %}
            </dt>
            <dd><h3 class="top_price">{{ currency_code }}{{ price }}</h3><h4>{{ title }}</h4></dd>
        </dl>
        <div class="img_aa"><img  style="position: absolute;right: -28px;height: 276px;width: 30px;top: 12px;" src="{{ THEME }}/image/theright.png" alt=""></div>
    </div>
    <div class="banner_right">
            <div class="seo"><span style="color: #666">描述：</span><br>{{ seo_description }}</div>
            <div class="taocan"><br><span style="color: #fb4772">【爆款特賣】<br>【免运费】<br>【货到付款】</span></div>
            <div class="buy_now"><a href="/checkout.php">立即購買</a></div>
    </div>
</div>

<div class="inforContent">

<div data-role="page" id="pageone">
    <div class="bTop">
        <span><img src="{{ thumb }}" alt=""></span>
        <span class="bititle">{{ lang.product_desc }}</span>
        <div>
            <div class="picScroll-left">
                <div class="bd">
                    <ul class="picList">
                        {% if photos %}
                            {% for p in photos %}
                                <li><div class="pic mui-slider-item"><a href="#"><img src="{{ p.thumb }}" /></a></div></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <script id="jsID" type="text/javascript">
                var ary = location.href.split("&");
                jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:2,easing:"easeOutCirc"});
            </script>
        </div>
    </div>
</div>

    <div class="new_pinlun">
        <h1 style="font-size: 24px;font-weight: 400">最新評價</h1>
        <div id="marquee6">
            <ul>
                {% for a in  comment %}
                    <div class="appr-title mqc">
                        {% if a.is_anonymous %}
                            <span style="color:red; margin:0px 3px">匿名用戶</span>
                        {% else %}
                            <span style="color:red; margin:0px 3px">{{ a.name }}</span>
                        {% endif %}
                        <span>满意度：<font color="red">★★★★★</font></span><br/>
                        <span  class="rr" style="margin-left:3px; font-size:12px">{{ a.add_time }}</span>
                    </div>
                    <div class="mqc">
                        <p><span style="font-family:宋体">{{ a.content }}</span><span style="font-family:宋体"></span></p>
                    </div>
                    <div class="msKeimgBox">
                        <ul>
                            {% for b in a.thumb %}
                                <li>
                                    <img src="{{ b.thumb }}" style="width: 75px;height: 75px" />
                                    <span class="hidden">
                  <img src="{{ b.thumb }}" width="100%" height="auto" />
                  </span>
                                </li>
                            {% endfor %}

                        </ul>
                        <div class="mskeTogBtn"></div>
                    </div>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="buyinfo_hd">{{ lang.note_online }}</div>
    <form id="big-i" name="form" action="#" method="post">
        <div class="buyinfo_table">
            <div class="closeBtn" style=""></div>
            <div class="zaix">在線留言</div>
            <div class="buyinfo_table_box">
                <table>
                    <tr>
                        <td class="table_td"><span class="require"></span>姓名:</td>
                        <td class="table_cell"><input type="text" required="required" placeholder="請輸入姓名，如張三" class="mui-input-clear input01" name="name" maxlength="10"></td>
                    </tr>

                    <tr>
                        <td class="table_td"><span class="require"></span>手機:</td>
                        <td class="table_cell"><input type="text" required="required" placeholder="請輸入手機號碼" class="input01" name="phone" maxlength="20"></td>
                    </tr>

                    <tr>
                        <td class="table_td">滿意度:</td>
                        <td class="table_cell">
                            <script type="text/javascript">
                                function rate(obj,oEvent){
                                    var imgSrc = '{{ THEME }}/image/star2.png';
                                    var imgSrc_2 = '{{ THEME }}/image/star.png';
                                    if(obj.rateFlag) return;
                                    var e = oEvent || window.event;
                                    var target = e.target || e.srcElement;
                                    var imgArray = obj.getElementsByTagName("img");
                                    for(var i=0;i<imgArray.length;i++){
                                        imgArray[i]._num = i;
                                        imgArray[i].onclick=function(){
                                            if(obj.rateFlag) return;
                                            //alert(this._num+1);
                                            var inputid=this.parentNode.previousSibling
                                            inputid.value=this._num+1;
                                        }
                                    }
                                    if(target.tagName=="IMG"){
                                        for(var j=0;j<imgArray.length;j++){
                                            if(j<=target._num){
                                                imgArray[j].src=imgSrc_2;
                                            } else {
                                                imgArray[j].src=imgSrc;
                                            }
                                            target.parentNode.onmouseout=function(){
                                                var imgnum=parseInt(target.parentNode.previousSibling.value);
                                                for(n=0;n<imgArray.length;n++){
                                                    imgArray[n].src=imgSrc;
                                                }
                                                for(n=0;n<imgnum;n++){
                                                    imgArray[n].src=imgSrc_2;
                                                }
                                            }
                                        }
                                    } else {
                                        return false;
                                    }
                                }
                            </script>
                            <input type="hidden" value="0"><p onmouseover="rate(this,event)" id="img_1">
                                <img src="{{ THEME }}/image/star2.png" title="很烂"><img src="{{ THEME }}/image/star2.png" title="一般"><img src="{{ THEME }}/image/star2.png" title="还好"><img src="{{ THEME }}/image/star2.png" title="较好"><img src="{{ THEME }}/image/star2.png" title="很好">
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td class="table_td">留言:</td>
                        <td class="table_cell">
                            <textarea placeholder="請輸入您的留言內容" name="content"  class="textarea_style"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tj">
                            <input id="btnAppraise" type="submit" name="Submit" class="input_btn01" value="提交評價" style="color:white">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    <div class="mskeLayBg"></div>
    <div class="mskelayBox">
        <div class="mske_html">

        </div>
        <img class="mskeClaose" src="{{ THEME }}/image/close.png" style="width: 20px" />
    </div>
<div class="detail_info_wrap">
    <div class="detail_list" id="detailCont">

        <div class="fixednav">
            <ul class="nav-list">
                <li>
                    <a href="javascript:;" class="left" onclick="P8.startGroupChat({{ service_contact_id }},1);">{{ lang.customs_server }}</a>
                </li>
                <li id="btn_buy">
                    <a href="javascript:void (0);" class="conbtn">
                        <span>{{ lang.buy_now }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- 后台商品介绍 开始-->
<div class="detail_con" style="display: none">
    <div class="black_cont"><div>{{ lang.product_desc }}</div></div>
    <div style="margin-top: 40px;background: white">
        {{ content|raw }}
    </div>

    <div id="back"></div>
</div>
<script type="text/javascript">
    $(function(){
        //评论滚动
        $('#marquee6').kxbdSuperMarquee({
            isMarquee:true,
            isEqual:false,
            scrollDelay:20,
            controlBtn:{up:'#goUM',down:'#goDM'},
            direction:'up'
        });
    });
    jQuery(".edui-upload-video").each(function(index, element) {
        if(jQuery("#videoPoster").length>0){
            jQuery(this).attr("poster", jQuery("#videoPoster").attr("href"));
            jQuery(this).height(jQuery(this).width()/640*360);
            //alert(jQuery("#videoPoster").height());
            //jQuery(this).height(jQuery("#videoPoster").height());
            jQuery("#videoPoster").remove();
        }
    });

    jQuery(function(){
        if( jQuery(".edui-upload-video").length > 0 ){
            //jQuery(".edui-upload-video").attr("poster", "/public/image/videoPlay.jpg");
            jQuery(".edui-upload-video").click(function(){
                jQuery(this).get(0).play();
            });
        }
    });
</script>

<script src="{{ THEME }}/js/swiper-3.4.0.jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ THEME }}/js/public.js"></script>
<script language="javascript" type="text/javascript" src="{{ THEME }}/js/Marquee.js"></script>
<script src="{{ THEME }}/js/index.js"></script>
<style>#POP800_INIT_DIV, #POP800_PANEL_DIV, #POP800_LEAVEWORD_DIV { display: none; }</style>

{% include 'public/theme/footer.twig' %}