<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
<title>{{ info.title }}</title>
<meta content="{{ info.seo_title}}" name="Keywords">
<meta name="description" content="{{ info.seo_description }}" />
<link rel="stylesheet" href="{{ THEME }}/style/index.css">
<script src="public/javascript/jquery-2.2.3.min.js"></script>
<script src="{{ THEME }}/script/swiper-3.4.0.jquery.min.js"></script>