{% include 'public/theme/header.twig' %}
<!-- resource -->
<link type="image/x-icon" rel="icon" href="{{ THEME }}/image/favicon.ico" >
<link type="text/css" rel="stylesheet" href="{{ THEME }}/css/style.css" />
<link type="text/css" rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css" />
<!--  -->
<input id="region_code" value="{{ regions.code }}" type="hidden">
<input id="identity_tag" value="{{ identity_tag }}" type="hidden">
<!-- END resource -->
<div id="order">
    <div class="warp">
        <form id="form" name="form" action="order.php" method="post" onSubmit="return prepost();">
            <div class="nav-header">
                <div class="header-left"><a href="/{{ identity_tag}}"><span class="glyphicon glyphicon-menu-left"></span></a> </div>
                <h2>{{ lang.product_information }}</h2>
            </div>
            <!--套餐-->
            <div class="tips">
                <p>{{ tips }}</p>
            </div>
            <div class="bdbox" id="combo">
                <label class="bdxx"><em>*</em> 產品 </label>
                <div class="dxbox red">
                     {% if combo %}
                         {% for c in combo %}
                              <label class="combo" data-loopIndex="{{ loop.index }}" style="padding: 5px;"><input type="radio" name="combo_id" value="{{ c.combo_id }}" > {{ c.title|raw }}-{{ currency_code }} {{ c.price }}</label>
                             <br>
                         {% endfor %}
                         {% else %}
                        <label style="padding: 5px;" class="combo" data-loopIndex="1">
                             <input type="radio" name="combo_id" value="0"> {{ title|raw }}
                        </label>
                     {% endif %}
                   
                </div>
            </div>
            <!--套餐-->
             <!--属性开始-->
            <div id="product_attr">
                {% if combo %}
                    <!--循环套餐-->
                    {% for om in  combo %}
                        <section data-loopIndex="{{ loop.index }}" style="display: {% if loop.index != 1 %}none{% else %}block{% endif %}">
                        <!-- 循环产品 -->
                        {% for ok in  om.goods %}
                            {% if ok.options %}
                            <div class="bdbox">
                                <div class="tc tc{{ ok.combo_id|raw }}" >
                                    <div class="title_ac"><h5 style="color: #333;font-weight: bold;"><em>*</em>{{ ok.title|raw }}</h5></div>
                                    <!-- 循环属性 -->
                                    {% for o in  ok.options %}
                                        <li class="item" data-prototype-group="{{ loop.index }}">
                                            <div class="u-format count_atrr" data-group="{{ o.attr_group_id }}" data-select="0">
                                                <label class="bdxx">
                                                    {{ o.attr_group_title|raw }}
                                                </label>
                                                <div class="dxbox red" style="padding-top: 5px;">
                                                    {% for key,attr in o.attr %}

                                                        <label style="display:inline-block;margin-right: 5px;{% if attr.thumb %}width: 45%;{% endif %}">
                                                            {% if attr.thumb %}
                                                            <img src="{{ attr.thumb }}" style="width: 100%; height: auto;">
                                                            <br/>
                                                            {% endif %}
                                                            <input type="radio"  name="attr[{{ ok.combo_goods_id }}-{{ o.attr_group_id }}]" value="{{ attr.product_attr_id }}" style="vertical-align: top;">
                                                            <span style="font-weight: normal;">{{ attr.name|raw }}</span>
                                                        </label>

                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="cls"></div>
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </section>
                    {% endfor %}
                {% else %}
                    <section data-loopIndex="1">
                    <!--循环当前产品属性-->
                    {% for o in  options %}
                        <div class="bdbox" data-prototype-group="{{ loop.index }}">
                            <label class="bdxx"><em>*</em>{{ o.attr_group_title|raw }}</label>
                            <div class="dxbox red">
                                {% for key,attr in o.attr %}
                                    <label style="width:45%;display:inline-block;padding:5px;">
                                        {% if attr.thumb %} <img src="{{ attr.thumb }}" style="width: 100%; height: auto;"> <br>{% endif %}
                                        <input type="radio" id="iin" style="" name="attr[{{ o.attr_group_id }}]" value="{{  attr.product_attr_id }}" class="radioAttr">
                                        {{ attr.name|raw }}
                                    </label>
                                {% endfor %}
                            </div>
                            <div class="cls"></div>
                        </div>
                    {% endfor %}
                    </section>
                {% endif %}
                <input type="hidden" name="act" value="getAttrPrice">
            </div>
              <!--属性结束-->
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.num }}</label>
                <div class="input-group " style="width: 110px;margin: 5px 0px;">
                <span class="input-group-btn" >
                <button  class="btn btn-default inc-btn" type="button" onClick="minnumber()">-</button>
                </span>
                    <input type="text" class="text numbertext form-control" value="1" name="num" id="num" onBlur="inputnumber();" style="text-align: center;height: 30px">
                    <span class="input-group-btn">
                <button class="btn btn-default inc-btn" type="button" onClick="addnumber()">+</button>
                 </span>
                </div>
            
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.name }}</label>
                <div class="textbox">
                    <input required="required" type="text" name="name" class="inputText"/>
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.mobile }}</label>
                <div class="textbox">
                    <input required="required" type="text" name="mob" class="inputText"/>
                </div>
            </div>
            
            <div class="bdbox">
                <label class="bdxx" for="email"><em></em>E-mail</label>
                <div class="textbox"><input  name="email" placeholder="{{ lang.email_use }}" maxlength="30" class="inputText" type="email">  </div>
            </div>
        
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.address_full }}</label>
                <div class="textbox" id="province">
                    <select name="province">
                        <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
                    </select>
                    {% if regions.region_son %}
                        <select name="city">
                            <option value="">{{ lang.province_choose }}</option>
                            {% for i in regions.region_son %}
                                <option value="{{ i.lang}}">{{ i.lang }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"></label>
                <div class="textbox">
                <input required="required" type="text" name="address" placeholder="{{ lang.address_warming }}" class="inputText">
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"> {{ lang.postal }}</label>
                <div class="textbox">
                    <input  type="text" name="postal"  class="inputText">
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.money }}</label>
                <div class="text3box">
                   {% if currency_prefix ==1 %} {{ currency_code }} {% endif %} <input name="price" readonly style="width:80px;" value="{{ discount_price  }}"/> {% if currency_prefix ==0 %} {{ currency_code }} {% endif %}  <span id="zfbyh"></span>
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.cash_style }}</label>
                <div class="dxbox">
                    {% if payment_online ==1 %}
                        <input name="payment_type" id="payment_type" value="1" type="radio">
                        <label for="payment_type">
                            {{ lang.yijifu }}
                        </label>
                    {% endif %}
                    {% if payment_paypal == 1 %}
                        <input name="payment_type" id="payment_type1" value="2" type="radio">
                        <label for="payment_type1">
                            <img src="/public/image/p_paypal.jpg">
                        </label>  
                    {% endif %}
                    {% if payment_underline ==1 %}
                        <input name="payment_type" id="payment_type2" value="0" type="radio">
                        <label for="payment_type2">
                            货到付款
                        </label>
                    {% endif %}
                </div>
            </div>
            
            <div class="bdbox">
                <label class="bdxx">{{ lang.note }}</label>
                <div class="text2box">
                    <textarea name="guest" placeholder="{{ lang.order_remark }}"></textarea>
                </div>
            </div>
            
            <div class="subbox">
                <input type="submit" name="Submit" class="btn-style" value="{{ lang.submit_order }}">
            </div>
            <div class="bdbox">
                <div style="padding: 10px">
                    <font>{{ lang.warming|raw }}</font>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="product_id" value="{{ product_id }}">
          
        </form>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
    </div>
</div>
<!-- js resource -->
<script src="{{ THEME }}/js/checkout.js"></script>
<style>#POP800_INIT_DIV, #POP800_PANEL_DIV, #POP800_LEAVEWORD_DIV { display: none; }</style>

{% include 'public/theme/footer.twig' %}
