{% include 'public/theme/header.twig' %}
<!--  -->
<link href="{{ THEME }}/image/favicon.ico" type="image/x-icon" rel=icon>
<link href="{{ THEME }}/css/cart.css" type="text/css" rel="stylesheet"/>
<!--  -->
<input id="region_code" value="{{ regions.code }}" type="hidden">
<input id="identity_tag" value="{{ identity_tag }}" type="hidden">
<!--  -->
<div class="g-bd">
    <div class="m-hd" style="background: #fff;">
        <div class="m-topBar">
            <a class="goback" href="/{{ identity_tag }}"></a>
            <div style="width: 100%;"><div class="title">{{ lang.receg_titel }}</div></div>
        </div>
    </div>
    <!--  -->
    <div id="order" data-error='{{ lang.Th_titleattr }}'>
        <div class="warp">
            <input type="hidden" value="{{identity_tag}}" id="identity_tag">
            <form id="form" name="form" action="order.php" method="post" onSubmit="return prepost()">
                <!--  -->
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" id="act" name="act" value="getAttrPrice">
                <input type="hidden" name="product_id" value="{{ product_id }}">
                <input type="hidden" name="vercode" value="">
                <input type="hidden" name="orderId" value="">
                <!--套餐-->
                <div class="m-goodItems">

                    {% if combo %}
                        <ul class="m-list m-attrs" style="margin-bottom: 10px; background:#fff">
                            <li class="item u-format" style="padding: 7px 0px;">
                                <div class="tt">{{ lang.package }}</div>
                                <div class="con" style="font-size:14px;" id="comb">
                                    {% if combo %}
                                        {% for c in combo %}
                                        <p style="padding: 5px 0px;">
                                        <label single_c="{{c.is_single_combo}}">
                                            <input type="radio" name="combo_id" value="{{ c.combo_id }}" data-loopIndex="{{ loop.index }}" {%if loop.index == 1%}checked="chekced"{%endif%}>
                                            {{ c.title|raw }}
                                            {% if currency_prefix == 1 %}{{ currency_code }}{{c.price}}{% else %}{{c.price}}{{ currency_code }}{% endif %}
                                        </label>
                                        </p>
                                        {% endfor %}
                                    {% else %}
                                        <p>
                                        <label single_c="0">
                                            <input type="radio" name="combo_id" value="0" checked="chekced">
                                            {{ title|raw }}
                                            {% if currency_prefix == 1 %}{{ currency_code }}{{price}}{% else %}{{price}}{{ currency_code }}{% endif %}
                                        </label>
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="cls"></div>
                            </li>
                        </ul>
                    {% else %}
                        <div class="store-goods">
                            <div class="i-img"><img src="{{ thumb }}"></div>
                            <div class="goods-info">
                                <h5>{{ title }}</h5>
                                <p></p>
                            </div>  
                            <div class="price-num">
                                <span class="price" style="color: red;">{% if currency_prefix == 1 %}{{ currency_code }} <combprice></combprice>{% else %}<combprice></combprice> {{ currency_code }}{% endif %}</span>
                                <span id="goodsNum" data-id="1888" data-prom="0.00"></span>
                            </div>
                            <input type="radio" style="opacity:0" name="combo_id" value="0" checked="chekced" data-loopIndex="1">
                        </div>
                    {% endif %}
                <!-- 修改套餐属性切换 -->
                {% if combo %}
                    <!--产品套餐属性-->
                    {% for om in  combo %}
                        <section data-loopIndex="{{ loop.index }}" style="display: {% if loop.index==1 %} block; {% else %} none; {% endif %}">
                        {% for ok in  om.goods %}
                            <ul class="m-list m-attrs" style="margin-bottom: 10px;" comboproduc >
                                    {% if ok.options %}
                                        <div class="tc tc{{ ok.combo_id|raw }}">
                                            <li class="item u-format" style="overflow: hidden; border-bottom: solid 1px #ddd; margin-bottom: 5px;">
                                                <div class="tt">
                                                    {{ lang.product }}: {{ ok.title|raw }}
                                                    {#
                                                    *{{ ok.num|raw }}{{ currency_code }}{{ ok.price|raw }}
                                                     <img src="{{ ok.thumb }}" width="80" height="80">
                                                     #}
                                                </div>
                                            </li>
                                        {% for o in  ok.options %}
                                        <li class="item protoLayer">
                                            <div class="u-format count_atrr" data-group="{{ o.attr_group_id }}" data-select="0">
                                                <div class="tt" style="font-size:14px;">{{ o.attr_group_title|raw }}: </div>
                                                <div class="con" style="width: auto; ">
                                                    {% for key,attr in o.attr %}
                                                    <label style="max-width: 90px;display:inline-block;padding:5px;background: #eee">
                                                        <input type="radio" name="attr[{{ ok.combo_goods_id }}-{{ o.attr_group_id }}]" value="{{ attr.product_attr_id }}">
                                                        {% if attr.thumb %}<img src="{{ attr.thumb }}" width="80" height="80">{% endif %}
                                                        <p><span>{{ attr.name|raw }}</span></p>
                                                    </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="cls"></div>
                                        </li>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                            </ul>
                        {% endfor %}
                        </section>
                    {% endfor %}
                {% else %}
                    <!--产品属性-->
                    <section data-loopIndex="1">
                        <ul class="m-list m-attrs" style="margin-bottom: 10px;">
                            {% for o in  options %}
                            <li class="item protoLayer">
                                <div class="u-format count_atrr" data-group="{{ o.attr_group_id }}" data-select="0">
                                    <div class="tt">{{ o.attr_group_title|raw }}</div>
                                    <div class="con">
                                        {% for key,attr in o.attr %}
                                            <label style="max-width:32%;display:inline-block;padding:5px;background: #eee">
                                                {% if attr.thumb %} <img src="{{ attr.thumb }}" style="width: 100%; height: auto;"> <br>{% endif %}
                                                <input type="radio" id="iin" style="" name="attr[{{ o.attr_group_id }}]" value="{{  attr.product_attr_id }}" class="radioAttr">
                                                {{ attr.name|raw }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="cls"></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
                <ul class="m-list m-attrs" style="margin-bottom: 10px;">
                    <li class="item" style="margin: 10px 0px; padding-bottom:5px;">
                        <div class="u-format">
                            <div class="tt">{{ lang.num }}</div>
                            <div class="con">
                                <div class="m-selnum dr">
                                    <div class="less z-dis" data-quality="min"></div>
                                    <div class="textWrap">
                                        <input id="mun" name="num" type="number" value="1" min="1" max="100" data-quality="value" oninput="if(value>100)value=100">
                                    </div>
                                    <div class="more" data-quality="add"></div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="u-icon u-address-bg"></div>
                <div class="address-input">
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                            <div class="cell fixed">{{ lang.name }}</div>
                        </div>
                        <div class="cell">
                            <input required="required" type="text" name="name" class="inputText">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                            <div class="cell fixed">{{ lang.mobile }}</div>
                        </div>
                        <div class="cell">
                            <input required="required" placeholder="{{ lang.mobile_placeholder}}" type="text" name="mob" class="inputText">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                            <div class="cell fixed">{{ lang.email }}</div>
                        </div>
                        <div class="cell">
                            <input placeholder="{{ lang.email_placeholder }}" error="{{ lang.test_email }}" type="email" name="email" class="inputText">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                            <div class="cell fixed">{{ lang.address_full }}</div>
                        </div>
                        <div class="cell" id="province">
                            <select name="province" class="form-control">
                                <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
                            </select>
                            {% if regions.region_son and regions.code != 'TW'%}
                            <select name="city" class="form-control">
                                <option value="">{{ lang.province_choose }}</option>
                                {% for i in regions.region_son %}
                                    <option value="{{ i.lang }}"> {{ i.lang }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                            {% if regions.code == "TW" %}
                            <select name="city" required="required">
                                <option value="">{{lang.city}}</option>
                            </select>
                            <select name="district" required="required">
                                <option value="">{{lang.district}}</option>
                            </select>
                            {% endif %}
                        </div>
                    </div>

                    <div class="buy-single-row label-input">
                            <div class="input-label">
                                <div class="cell fixed"></div>
                            </div>
                            <div class="cell">
                                {% if regions.region_name == '澳门' %}
                                    <input required="required" type="text" name="address" placeholder="{{ lang.address_warming_macro }}" class="inputText">
                                {% else %}
                                    <input required="required" type="text" name="address" placeholder="{{ lang.address_warming }}" class="inputText">
                                {% endif %}
                            </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                            <div class="cell fixed">{{ lang.postal }}</div>
                        </div>
                        <div class="cell">
                            {% if regions.region_id == 7 %}
                            <input required="required" type="text" {% if regions.code=='SG' %} pattern="[0-9]{6}" {% endif %} name="postal" class="inputText">
                            {% else %}
                            <input type="text" name="postal" class="inputText" error="{{ lang.test_postal }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                        <div class="cell fixed">{{ lang.paymethod }}</div>
                        </div>
                        <div class="cell">
                            {% if payment_online ==1 %}
                                <label>  <input name="payment_type" value="1"  type="radio">  <img src="/public/image/card_2.gif"/><img src="/public/image/card_3.gif"/><img src="/public/image/card_1.gif"/> </label>
                            {% endif %}
                            {% if payment_paypal == 1 %}
                                <label> <input name="payment_type" value="2"  type="radio"> &nbsp;&nbsp; <img src="/public/image/p_paypal.jpg">  </label>
                            {% endif %}
                            {% if payment_asiabill ==1 %}
                                <label> <input name="payment_type" value="3"  type="radio"> &nbsp;&nbsp;<img src="/public/image/card_2.gif"/><img src="/public/image/card_3.gif"/><img src="/public/image/card_1.gif"/>  </label>
                            {% endif %}
                            {% if payment_underline ==1 %}
                                <label> <input name="payment_type" value="0"  type="radio"> &nbsp;&nbsp; {{ lang.cash_on_delivery }} </label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="input-label">
                            <div class="cell fixed">{{ lang.note }}</div>
                        </div>
                        <div class="cell" style="line-height: 18px;">
                            <textarea placeholder="{{ lang.order_remark }}" name="guest" class="text_area" rows="1" style="padding-top:17px;"></textarea>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div style="padding: 10px; background-color: #fff; text-align: right;">
                    <div class="line">
                        <span>{{ lang.check_all }}</span>
                        <span data-render="count">1</span>
                        <span>{{ lang.check_produck }}</span>
                        <span></span>
                        <span>{{ lang.check_total }}:</span>
                        <span class="price">
                            {% if currency_prefix == 1 %}
                            <span class="red">{{ currency_code }}</span>
                            <span class="red" id="price">{{ price }}</span>
                            {% else %}
                            <span class="red" id="price">{{ price }}</span>
                            <span class="red">{{ currency_code }}</span>
                            {% endif %}
                        </span>     
                    </div>
                </div>
                <!--  -->
                <div style="text-align: center; margin: 10px 0px;">
                    <button class="btnBuy" type="submit" name="Submit" style="display:none">{{ lang.Order }}</button>
                    <input type="hidden" data-cuckootag="confirm_order">
                    <div class="imitatebtn" onclick="checkattrs()" style="line-height:41px;">{{ lang.Order }}</div>
                </div>
                <!--  -->
                <div style="padding: 15px; background: #fff;font-size: 14px;color: #666;text-align: left;margin-top: 10px; margin-bottom: 20px;">
                    {{ lang.warming|raw }}
                </div>
            </form>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<!--  -->
<script type="text/javascript" src="{{ THEME }}/js/checkout.js"></script>
<style>#POP800_INIT_DIV, #POP800_PANEL_DIV, #POP800_LEAVEWORD_DIV { display: none; }</style>
<script>
    window.repeatlang = {
        title:"{{lang.repeat_title}}",
        prompt:"{{lang.repeat_prompt}}",
        prompt_out:"{{lang.repeat_prompt_out}}",
        confirm_order:"{{lang.repeat_confirm_order}}",
        query_details:"{{lang.repeat_query_details}}",
        time_d:"{{lang.time_d}}",
        time_h:"{{lang.time_h}}",
        time_m:"{{lang.time_m}}",
        time_just:"{{lang.time_just}}"
    }
    loadstate();
    $('[name="city"]').change(function(event) {
        var id = $(this).find("option").not(function () { return !this.selected }).attr('data-id') * 1;
        loadCity(id);
    });
    function loadstate(){
        var region_id = '{{regions.region_id}}',regionCode = '{{regions.code}}';
        if(regionCode == 'TW'){
        $.post('/region.php', { 'region_id': region_id }, function(data) {
            var data = JSON.parse(data);
                data.map(function(item, index){
                    $('[name="city"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
                });
            var id = $(this).find("option").not(function () { return !this.selected }).attr('data-id') * 1;
        });
        }
    }
    function loadCity(id, callback){
        $.post('/region.php', { 'yn_region_id': id }, function(data, textStatus, xhr) {
            var districtFirst = $('[name="district"]').children().first();
            $('[name="district"]').children().remove();
            $('[name="district"]').append(districtFirst);
            $('[name="district"]').val('');
            var data = JSON.parse(data);
            data.map(function(item, index){
                $('[name="district"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
            });
        });
    }
</script>
{% include 'public/theme/footer.twig' %}