{% include 'public/theme/header.twig' %}
<link type="text/css" rel="stylesheet" href="{{ THEME }}/style/checkout.css" />
<!-- END header resource -->
<div class="header" style="position: relative;">
	<div id="back" style="position: absolute;left: 2%;width: 24px;text-align: left;cursor: pointer;"><div class="back"></div></div>
	<div class="conirm">{{ lang.address_full }}</div>
</div>
<div class="order">
	<div class="order_detail">
		<div class="warp">
            <div class="process">
                <span>{{ lang.confirm }}</span>
                <span class="next"></span>
                <span>{{ lang.address }}</span>
                <span class="next"></span>
                <span>{{ lang.submit }}</span>
            </div>
            <form id="form" name="form" action="order.php" method="post" onSubmit="return prepost()">
                <!--  -->
                <input type="hidden" name="combo_id" value="">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" id="act" name="act" value="getAttrPrice">
                <input type="hidden" name="product_id" value="{{ product_id }}">
                <input id="region_code" value="{{regions.code}}" type="hidden">
                <input id="identity_tag" value="{{identity_tag}}" type="hidden">
                <!--套餐-->
                <div class="m-goodItems">
                	<div class="tt">{{ lang.confirm_info }}</div>
                    <ul class="m-list m-attrs">
                        <div class="m-goodItem">
                                <!--选中的套餐-->
                                <div class="cnt">
                                    {% if combo %}
                                        {% for c in combo %}
                                            <div class="combosid_{{ c.combo_id }}" style="display: none">
                                            {% for g in c.goods %}
                                                <div class="single">
                                                    <div class="imgWrap">
                                                        <img src="{{ g.thumb }}">
                                                    </div>
                                                    <div class="right">
                                                        <div optionsGroup goodid="{{g.combo_goods_id}}">{{ g.title }}</div>
                                                        <div class="right_bottom">
                                                            <div class="pro_price">
                                                                {% if currency_prefix == 1 %}<span>{{ currency_code }}</span><combprice></combprice>{% endif %}
                                                                {% if currency_prefix == 0 %}<combprice></combprice><span>{{ currency_code }}</span>{% endif %}
                                                            </div>
	                                                        <div class="attr">
		                                                        {% if g.options %}
		                                                            {% for o in g.options %}
		                                                                {% for key,attr in o.attr %}
		                                                                    <span style="display: none;" optionsGroup goodid="{{g.combo_goods_id}}" group="{{ o.attr_group_id }}" attrid="{{attr.product_attr_id}}">{{ attr.name|raw }}</span>
		                                                                {% endfor %}
		                                                            {% endfor %}
		                                                        {% endif %}
                                                                <span class="product_numtext"></span>
	                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div style="clear:both"></div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                    <div class="single">
                                        <div class="imgWrap">
                                            <img src="{{ thumb }}">
                                        </div>
                                        <div class="right">
                                            <div>{{ title }}</div>
                                            <!--非套餐属性开始-->
                                            <div class="right_bottom">
                                                <div class="pro_price">
                                                    {% if currency_prefix == 1 %}{{ currency_code }}<combprice></combprice>{% endif %}
                                                    {% if currency_prefix == 0 %}<combprice></combprice>{{ currency_code }}{% endif %}
                                                </div>
                                            	<div class="attr">
		                                            {% for o in  options %}
		                                                {% for key,attr in o.attr %}
		                                                <span style="display: none;" optionsKey goodid="{{g.combo_goods_id}}" group="{{ o.attr_group_id }}" attrid="{{attr.product_attr_id}}">{{ attr.name|raw }}</span>
		                                                {% endfor %}
		                                            {% endfor %}
                                                    <span class="product_numtext"></span>
		                                        </div>
	                                            <!--属性结束-->
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {% endif %}
                                     <input id="mun" type="hidden" name="num" type="text" value="">
                                </div>
                            </div>
                    </ul>
                </div>
                <div class="address-input">
                    <div class="input_title">
                        <div><span>{{ lang.address }}</span></div>
                    </div>
            		<div class="buy-single-row label-input">
                        <div class="cell">
                            <span>{{ lang.name }}:</span>
                            <input required="required" type="text" name="name" class="inputText">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell">
                            <span>{{ lang.phone }}:</span>
                            <input required="required" type="number" name="mob" class="inputText">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell">
                            <span>{{ lang.email }}:</span>
                            <input type="email" name="email" class="inputText" error="{{ lang.test_email }}">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell select" id="province">
                            <select name="province">
                                <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
                            </select>
                        </div>
                    </div>
                    {% if regions.code == "TW" %}
                    <div class="buy-single-row label-input">
                        <div class="cell select">
                            <select name="city" required="required">
                                <option value="">{{lang.city}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell select">
                            <select name="district" required="required">
                                <option value="">{{lang.district}}</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="buy-single-row label-input">
                        <div class="cell">
                            <span>{{ lang.address_full }}:</span>
                            <input required="required" type="text" name="address" class="inputText">
                        </div>
                    </div>
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="cell">
                                <span>{{ lang.postal }}:</span>
                                <input type="text" name="postal"  class="inputText" error="{{ lang.test_postal }}">
                            </div>
                        </label>
                    </div>
                    <div class="buy-single-row label-input">
                        <div class="cell"  style="height:41px;padding-top:4px;">
                            <span>{{ lang.remark }}:</span>
                            <textarea name="guest" class="text_area" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="buy-single-row">
                        <div class="cell" style="border:none;display:inline-block;font-size:14px;">
                            {% if payment_underline ==1 %}
                                <input name="payment_type" value="0" id="0" type="radio">
                                <span><label for="0" class="check">{{ lang.cash_on_delivery }}</label></span>
                            {% endif %}
                        </div>
                    </div>
                    {% if payment_ocean %}
                    <div class="buy-single-row label-input">
                        <div class="cell">
                            <label rel="4"><input name="payment_type" value="4" id="4" type="radio"> <img src="/lib/ocean/image/card_1.gif"><img src="/lib/ocean/image/card_2.gif"><img src="/lib/ocean/image/card_3.gif"></label>
                        </div>
                            {{ ocean|raw }}
                    </div>
                    {% endif %}
                </div>
                <footer class="m-orderFt">
                    <div class="price">
                        <span class="left">{{ lang.total }}：
                            <span>
                                {% if currency_prefix == 1 %}{{ currency_code }}<span id="price"></span>{% endif %}
                                {% if currency_prefix == 0 %}<span id="price"></span>{{ currency_code }}{% endif %}
                            </span>
                        </span>
                    </div>
                    <button class="btn w-button" type="submit" name="Submit">{{ lang.submit }}</button>
                    <input type="hidden" data-cuckootag="confirm_order">
                </footer>
            </form>
        </div>
	</div>
</div>
<script>
    loadstate();
    $('[name="city"]').change(function(event) {
        var id = $(this).find("option").not(function () { return !this.selected }).attr('data-id') * 1;
        loadCity(id);
    });
    function loadstate(){
        var region_id = '{{regions.region_id}}',regionCode = '{{regions.code}}';
        if(regionCode == 'TW'){
        $.post('/region.php', { 'region_id': region_id }, function(data) {
            var data = JSON.parse(data);
                data.map(function(item, index){
                    $('[name="city"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
                });
            var id = $(this).find("option").not(function () { return !this.selected }).attr('data-id') * 1;
        });
        }
    }
    function loadCity(id, callback){
        $.post('/region.php', { 'yn_region_id': id }, function(data, textStatus, xhr) {
            var districtFirst = $('[name="district"]').children().first();
            $('[name="district"]').children().remove();
            $('[name="district"]').append(districtFirst);
            $('[name="district"]').val('');
            var data = JSON.parse(data);
            data.map(function(item, index){
                $('[name="district"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
            });
        });
    }
</script>

<!-- footer resource -->
<script src="{{ THEME }}/js/checkout.js"></script>
{% include 'public/theme/footer.twig' %}
