<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="320" name="MobileOptimized" />
        <meta content="telephone=no" name="format-detection" />
        <title>{{ title }}</title>
        <meta name="keywords" content="{{ seo_title }}" />
        <meta name="description" content="{{ seo_description }}" />
        <link href="/public/image/favicon.ico" type="image/x-icon" rel=icon>
        {% if THEME == '/theme/style2' %}
            <!-- <script src="/public/javascript/vue.min.js"></script> -->
            <script src="http://out.stosz.com/vue.min.js"></script>
            <script src="/public/javascript/require.js" alt={{ THEME }}></script>
        {% else %}
            <link rel="stylesheet" href="/public/style/reset.css">
            <script src="/public/javascript/require.js" alt={{ THEME }}></script>
            
            <script src="/public/javascript/jquery-2.2.3.min.js"></script>
        {% endif %}
        {% include '/public/theme/facebook_pixel_common.twig' %}
        {{ yahoo_js|raw }}
        <!-- google js -->
        {% include 'google_js_head.twig' %}
        <!-- end google js -->
    </head>
<body>
<!--  -->
<link rel="stylesheet" type="text/css" href="/public/style/order-style.css">
<!--  -->
<input id="region_code" value="{{regions.code}}" type="hidden">
<input id="identity_tag" value="{{identity_tag}}" type="hidden">
<!--  -->
<div id="details">
    <div class="header">
        <a class="goback" href="/{{ identity_tag}}">{{ lang.click_back_home }}</a>
    </div>
    <div class="explain">
        <h1>{{ lang.order_title }}</h1>
        <p>{{ lang.warming|raw }}</p>
    </div>
    <form id="form" name="form" action="order.php" method="post" onSubmit="return prepost()">
        <input type="hidden" name="combo_id" value="">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="num">
        <input type="hidden" id="act" name="act" value="getAttrPrice">
        <input type="hidden" name="province" value="{{ regions.region_id }}">
        <div class="table">
            <div class="flexbox">
                <div class="flex tab_two"><input type="text" required="required" name="name" placeholder="{{ lang.name }}"></div>
                <div class="flex tab_two">
                    <input required="required" id="tha_postal" type="number" name="postal" placeholder="{{ lang.postal }}">
                </div>
            </div>
            <div class="flexbox">
                <div class="flex marleft" style="margin-left:0;">
                    <div class="ui-col ui-col-100 ui-select">
                        <input type="hidden" name="city" error="รหัสไปรษณีย์ ผิด!" value >
                        <select name="district" class="regions-city">
                            <option>ตำบล อำเภอ</option>
                        </select>
                    </div>
                </div>
                <div class="flex regions" style="margin-left: 4px;">จังหวัด</div>
            </div>
            <div class="table-row">
                <input type="text" required="required" name="address" placeholder="{{ lang.addr }}">
            </div>
            <div class="flexbox">
                <div class="flex tab_two">
                    <input type="number" required="required" name="mob" id="thaphone" placeholder="{{ lang.phone }}">
                </div>
                <div class="flex tab_two">
                    <input type="email" name="email" placeholder="{{ lang.email }}">
                </div>
            </div>
            <div class="table-row">
                <input type="text" name="guest" placeholder="{{ lang.note }}">
            </div>
            <div class="flexbox">
            {% if payment_underline == 1 and 1==2 %}
                <div class="flex tab_two tab_sele action" rel="0"><i class="icon"></i>{{ lang.cash_on_delivery }}</div>
            {% endif %}
			
			{% if payment_blue == 1 %}
				<div class="flex tab_two tab_sele action" rel="6"><i class="icon"></i>การชำระเงินออนไลน์</div>
			{% endif %}	
			
            {% if payment_online == 1 or payment_paypal == 1 or payment_asiabill == 1 %}
                <div class="flex tab_two">
                    <div class="tab_sele"><i class="icon"></i>{{ lang.order_onlinepay }}</div>
                </div>
            {% endif %}
                <input name="payment_type" value="6" type="hidden">
            </div>
            <div class="table-row pay-type" style="display: none;">
                <select id="pay-online">
                    {% if payment_online == 1 %}
                    <option value="1">{{ lang.yijifu }}</option>
                    {% endif %}
                    {% if payment_paypal == 1 %}
                    <option value="2">paypal</option>
                    {% endif %}
                    {% if payment_asiabill == 1 %}
                    <option value="3">Asiabill</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="this_box">
            {% if combo %}
            {% for c in combo %}
            <div class="m-orderItem" id="goods_{{ c.combo_id }}" style="display: none;">
                <div class="row-2 flexbox">
                    <div class="goodImg">
                        {% if c.thumb %}
                            <img src="{{ c.thumb }}" width="100%" height="100%">
                        {% else %}
                            <img src="{{ thumb }}" width="100%" height="100%">
                        {% endif %}
                    </div>
                    <div class="goodInfo flex">
                        <div class="goodName">{{ title }}</div>
                        <div class="goodName ti">
                            <span>{{ c.title }}</span>
                            <div class="goodStatus f-fr"><span>{{ lang.num }} : </span><span class="number"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 套餐包含产品 -->
            <div class="m-goodItems" style="display:none;" id="showComboProduct_{{ c.combo_id }}">
            {% for g in c.goods %}
                <div class="row-2 flexbox">
                    <div class="goodImg">   
                        <img class="attrimg" src="{{ g.thumb }}">
                    </div>
                    <div class="goodInfo flex u3">
                        <div class="goodName">
                            <span>{{ g.title }}</span>
                            <div class="goodStatus">
                            {% for a in g.options %}    
                            {% for key,attr in a.attr %}
                            <span optionsKey data-id="{{ g.combo_goods_id }}-{{ a.attr_group_id }}-{{ attr.product_attr_id }}"  attr_img="{{ attr.thumb }}" class="attr" style="display: none;">&nbsp;&nbsp;{{ attr.name|raw }}</span>
                            {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
            <div class="notic_show_combo_product action" id="showComboProduct_triggle2" rel="{{ lang.closeComboProducts }}" rel_s="{{ lang.openComboProducts }}">
                <span class="uu"><span id="lang">{{ lang.openComboProducts }}</span><img src="/public/image/down14px.png" alt=""></span>
            </div>
            <!-- 套餐包含产品 -->
            {% else %}
            <div class="m-orderItem m-padbot" id="goods">
                <div class="row-2 flexbox">
                    <div class="goodImg">
                        <img src="{{ thumb }}" width="100%" height="100%">
                    </div>
                    <div class="goodInfo flex">
                        <div class="goodName">{{ title }}</div>
                        <div class="goodName ti">
                        {% for a in options %}
                            {% for key,attr in a.attr %}
                                <span optionsKey data-id="{{ attr.product_attr_id }}" style="display: none;">{{ attr.name }}</span>
                            {% endfor %}
                        {% endfor %}
                        <div class="goodStatus f-fr"><span>{{ lang.num }} : </span><span class="number"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <ul class="row-2" id="list_cost">
            <li>
                <span class="tips">{{ lang.freight }} </span><span class="tips2">
                {% if currency_prefix == 1 %}
                    {{ currency_code }}0.00
                {% endif %}
                {% if currency_prefix == 0 %}
                    0.00{{ currency_code }}
                {% endif %}
                </span>
            </li>
            <li>
                <span class="tips">{{ lang.total }} </span>
                {% if currency_prefix == 1 %}
                    <span class="tips2" id="payment_amount"></span>
                    <span class="tips2">{{ currency_code }}</span>
                {% endif %}
                {% if currency_prefix == 0 %}
                    <span class="tips2">{{ currency_code }}</span>
                    <span class="tips2" id="payment_amount"></span>
                {% endif %}
            </li>
            <li>
                <span class="tips">{{ lang.pay }} </span>
                <span class="tips2 total" style="color: #ff5a5f;font-weight: bold;">
                {% if currency_prefix == 1 %}
                    {{ currency_code }}
                    <span id="total"></span>
                {% endif %}
                {% if currency_prefix == 0 %}
                    <span id="total"></span>{{ currency_code }}
                {% endif %}
                </span>
            </li>
        </ul>
        <input type="hidden" name="product_id" value="{{ product_id }}">
        <button type="submit" name="Submit" class="btn">{{ lang.order_sure }}</button>
    </form>
</div>
<div class="timetips">
    <ul class="flexbox">
        <li class="flex" style="padding-left:16px;"><img src="/public/image/7day.png" alt="">{{ lang.returned_goods }}</li>
        <li class="flex" style="padding-right:16px;"><img src="/public/image/huodao.png" alt="">{{ lang.cash_on_delivery }}</li>
    </ul>
</div>

<!--  -->
<div class="pope">
    <div class="wrapper-content">
        <div><p style="font-size:18px; text-align:center; margin-bottom: 20px;">สั่งซื้อสำเร็จ</p></div>
        <div><p style="font-size:16px; margin-bottom: 20px;">กรุณาตรวจข้อมูลอีกครั้งค่ะ.เราจะเริ่มจัดส่งสินค้าภายใน7-15วันหลังจากที่คุณสั่งซื้อสำเร็จ.ถ้ามีเหตุการฉุกเฉิน เวลาส่งถึงอาจมีความล่าช้าเล็กน้อย.ถ้าคุณมีคำถามใด ๆ กรุณาติดต่ออีเมล์เรา  {{ service_email }} ขอขอบคุณค่ะ.</p></div>
        <div style="margin-bottom:20px; font-size:14px;">
            <p>ชื่อ: <span data-for="name"></span></p>
            <p>รหัสไปรษณีย์: <span data-for="postal"></span></p>
            <p>ที่อยู่: <span data-for="full_address"></span></p>
            <p>หมายเลขโทรศัพท์: <span data-for="mob"></span></p>
            <p>อีเมล: <span data-for="email"></span></p>
            <p><span data-for="guest"></span></p>
            <p>ราคา<span data-for="total"></span></p>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <button class="btn cancel_buy">{{ lang.order_cancel }}</button>
            <button class="btn confirm_buy">{{ lang.order_sure }}</button>
        </div>
    </div>
</div>

<style type="text/css">
    .pope {display: none; position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 999; background-color: rgba(0,0,0,.5); }
    .pope .wrapper-content {position: absolute; left: 20px; top: 20px; bottom: 20px; right: 20px; overflow-y: scroll; background-color: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 20px; }
    .btn.cancel_buy {background-color: #f1f1f1; color: #999; outline: none; }
</style>

<!--div style="display: none;">{{ lang.mobile_error }}</div-->
<img id="loading" src="/public/image/loading.png">
<div class="5a_la" style="display: none;">{{ la|raw }}</div>

<script type="text/javascript">
    require(['jquery', 'widget'],function($, Swiper){
        window.repeatlang = {
            title:"{{lang.repeat_title}}",
            prompt:"{{lang.repeat_prompt}}",
            prompt_out:"{{lang.repeat_prompt_out}}",
            confirm_order:"{{lang.repeat_confirm_order}}",
            query_details:"{{lang.repeat_query_details}}",
            time_d:"{{lang.time_d}}",
            time_h:"{{lang.time_h}}",
            time_m:"{{lang.time_m}}",
            time_just:"{{lang.time_just}}"
        }
        window.widget.repeatOrder.init();
        window.widget.repeatOrder.getproattr();
        // sms open check
        window.widget.smsvalid && window.widget.smsvalid.init();

        $(document).ready(function(){
            //产品属性
            var count = Cjs.url.getParamByName('count');
            var combo_id = Cjs.url.getParamByName('combo_id');
            var product_id = Cjs.url.getParamByName('product_id');
            $('#goods_'+combo_id).show();
            $('input[name="combo_id"]').val(combo_id);
            $('input[name="num"]').val(count);
            $('.number').html(count);
            if(product_id){
                $('input[name="product_id"]').val(product_id);
            }
            var str = Cjs.url.getParamByName('proto') || "";
            var strAttr = str.split('|');
            var html = [];
            if(str){
                if(parseInt(combo_id) != 0){
                    strAttr.map(function(elem, index) {
                        var obj = elem.split('-');
                        var goodsid = obj[0]
                        var group = obj[1];
                        var value = obj[2]; 
                        html.push('<input type="hidden" name="attr['+ obj[0]+'-'+ obj[1] +']" value="'+ obj[2] +'">');
                        var data = elem;
                        $('span[optionskey][data-id="'+ data +'"]').show();
                        var imgattr = $('span[optionskey][data-id="'+ data +'"]').attr('attr_img');
                        if(imgattr){
                            $('span[optionskey][data-id="'+ data +'"]').parents('.flexbox').find('.attrimg').attr('src',imgattr);
                            //$('.attrimg').eq(index).attr('src',imgattr);
                        }
                    });
                }else{
                    strAttr.map(function(elem, index) {
                        var obj = elem.split('-');
                        //var goodsid = obj[0]
                        var group = obj[0];
                        var value = obj[1];
                        html.push('<input type="hidden" name="attr['+obj[0] +']" value="'+ obj[1] +'">');
                        $('[optionsKey][data-id="'+ value +'"]').show();

                    });
                }
                $('#form').append(html.join(''));
            }
            //支付方式
            $('.tab_sele').click(function(){
                $('.tab_sele').removeClass('action');
                $(this).addClass('action');

                var payt = $(this).attr('rel');
                if(payt){
                    $('input[name="payment_type"]').val(payt);
                    $('.pay-type').hide();
                }else{
                    $('.pay-type').show();
                    payt = $('#pay-online').val();
                    $('input[name="payment_type"]').val(payt);
                }
            });
            $('#pay-online').change(function(){
                payt = $(this).val();
                $('input[name="payment_type"]').val(payt);
            });
            //日本邮编合并
            $('input[name="postal_1"],input[name="postal_2"]').change(function(){
                var left = $.trim($('input[name="postal_1"]').val());
                var right = $.trim($('input[name="postal_2"]').val());
                $('input[name="postal"]').val(left+right);
            })
            //查看与关闭
            $('#showComboProduct_triggle2').click(function(event) {
                var close = $(this).attr('rel');
                var show  = $(this).attr('rel_s');
                /* Act on the event */
                if($(this).hasClass('action')){
                    $(this).removeClass('action');
                    $('#showComboProduct_'+combo_id).slideDown();
                    $('#lang').html(close);
                }else{
                    $(this).addClass('action');
                    $('#showComboProduct_'+combo_id).slideUp();
                    $('#lang').html(show);
                }
            });
            //刷新价格
            refresh_price();
            function refresh_price() {
                $.ajax({
                    url: '/checkout.php?',
                    type: 'post',
                    data: $('input[name=combo_id], #act, input[name=\'num\']'),
                    dataType: 'json',
                    success: function(json) {
                       if(json.ret){
                            $("#payment_amount").html(json.total);
                            $('#total').html(json.total);
                       }
                       else{
                           alert(json.msg)
                       }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                    }
                });
            }
            //泰国选择市区
            var checkcity = false;
            $('#tha_postal').blur(function(){
                var id = $(this).val();
                $.ajax({
                    url: 'region.php',
                    type: 'post',
                    data:{'postName':id},
                    dataType: 'json',
                    success: function(ret) {
                        if(ret){
                            if(ret.length != 0){
                                var option;
                                for(var i in ret)
                                {
                                    option += '<option name="'+ret[i].name+'" data-city="'+ret[i].parent_name+'">'+ret[i].name+'</option>';
                                    $('.regions').html(ret[0].parent_name);
                                    $('input[name="city"]').val(ret[0].parent_name);
                                }
                                //option +='</select>';
                                $(".regions-city").html(option);
                                checkcity = true;
                            }else{
                                alert('รหัสไปรษณีย์ ผิด!');
                                $('#tha_postal').val('');
                                $('.regions-city').html('');
                                $('.regions').html('');
                                $('input[name="city"]').val('');
                            }
                        }else{
                            alert('รหัสไปรษณีย์ ผิด!');
                            $('#tha_postal').val('');
                            $('.regions-city').html('');
                            $('.regions').html('');
                            $('input[name="city"]').val('');
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                    }
                });
            });
            // 
            $('[name="district"]').change(function(){
                var city = $(this).children(':selected').attr('data-city');
                if( city != "" ){
                    $('.regions').html(city);
                    $('input[name="city"]').val(city);
                }
            });
            // $('#thaphone').blur(function() {
            //     var val = $(this).val();
            //     if(!/^0\d{10}$/.test(val)){
            //         alert('หมายเลขโทรศัพท์ไม่ถูกต้อง');
            //     }
            // })
            // yuenan xuan ze diqu
            setDistrict = function(){
                var cid = $("select[name='city']").find("option:selected").attr('cid');
                $.ajax({
                    url: 'region.php?',
                    type: 'post',
                    data: {'yn_region_id':cid},
                    dataType: 'json',
                    success: function(ret) {
                        if (ret)
                        {
                            var option ='<select name="district" style="">';
                            for(var i in ret)
                            {
                                option += '<option name="'+ret[i].name+'">'+ret[i].name+'</option>';
                            }
                            option +='</select>';
                            $(".district").html(option);
                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                    }
                });
            }
            // yan zheng
            var _region = $("input[name='province']").val();
            postcheck = function(){
                try{
                    if($('[name="city"]').val() == ""){
                         var errormsg = $('[name="city"]').attr('error');
                        alert(errormsg);
                        return false;
                    }
                }catch(ex){

                }
                try{
                    var val = $('#thaphone').val();
                    if(val){
                        if(!/^0\d{9}$/.test(val)){
                            alert('หมายเลขโทรศัพท์ไม่ถูกต้อง');
                            return false;
                        }
                    }
                }
                catch(ex){
                    
                }

                if( !pope.isShow ){
                    pope.show();
                    return false;
                }else{

                    // 短信验证码
                    if( window.smsAuth == true ){
                        var formdata = $('#form').serialize();
                        window.widget.smsvalid.start(formdata);
                        return false;
                    }

                    return true;
                }
            }

            var pope = $('.pope');
                pope.isShow = false;
                pope.show = function(){
                    this.fadeIn();
                    this.setdata();
                    this.isShow = true;
                }
                pope.hide = function(){
                    this.fadeOut();
                    this.isShow = false;
                    this.clean();
                }
                pope.setdata = function(){
                    var field = {
                        name: $('[name=name]').val()
                        , postal: $('[name=postal]').val()
                        , full_address: $('[name=district]').val() + " " + $('.regions').html() + " " + $('[name=address]').val()
                        , mob: $('[name=mob]').val()
                        , email: $('[name=email]').val()
                        , guest: $('[name=guest]').val()
                        , total: $('.total').html()
                    }
                    for(key in field){
                        console.log(key)
                        $('[data-for="'+key+'"]').html(field[key]);
                    }
                }
                pope.clean = function(){
                    var field = {
                        name: ''
                        , postal: ''
                        , full_address: ''
                        , mob: ''
                        , email: ''
                        , guest: ''
                        , total: ''
                    }
                    for(key in field){
                        $('[data-for="'+key+'"]').html(field[key]);
                    }
                }
                pope.on('click', '.cancel_buy', function(event) {
                    event.preventDefault();
                    pope.hide();
                }).on('click', '.confirm_buy', function(event) {
                    event.preventDefault();
                    this.isShow = true;
                    $('#form').submit();
                });

        })
    })

</script>
<script>
	ga('require', 'ec');
	ga('ec:addProduct', {
	  'id': '{{product_id}}',
	  'name': '{{title}}',
	  'price': '{{price}}',
	  'quantity': '{{product_number}}'
	});
	ga('ec:setAction','checkout', {
		'step': 2
	});
	ga('send', 'pageview');
</script>
</body>
</html>