    <div class="dt-paramselect" data-error="{{ lang.pro_attr }}">
        <form id="form" name="form" method="post">
            <input type="hidden" name="orderid" id="orderid" value="">
            <input type="hidden" name="product_id" value="{{ product_id }}">
            <input type="hidden" name="act" id="act" value="getAttrPrice">
            <!-- 套餐选择 -->
            <div class="u-format" id="comb" data-price="">
                <div class="package">
                    {% if combo %}
                        <select type="combo">
                            {% for c in combo %}
                                {%if loop.index == 1%}
                                    <option value="{{ c.combo_id }}" data-loopindex="{{loop.index}}" data-price="{{ c.price }}" data-single="{{ c.is_single_combo }}">{{ c.title|raw }}</option>
                                {% else %}
                                    <option value="{{ c.combo_id }}" data-loopindex="{{loop.index}}" data-price="{{ c.price }}" data-single="{{ c.is_single_combo }}" data-id="{{ c.combo_id }}">{{ c.title|raw }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        <select type="product">
                            <option value="0" data-single="0" data-loopindex="1">{{ title }}</option>
                        </select>
                    {% endif %}
                </div>
            </div>
            <!-- 套餐选择 end -->

            <!-- 套餐－属性选择 -->
            {% if combo %}
                <!-- 循环套餐 -->
                {% for om in combo %}
                    <section data-loopIndex="{{ loop.index }}" productid="{{ om.product_id }}" combo-id="{{om.combo_id}}" style="display: none;">
                    {% for ok in om.goods %}
                        {% if ok.options %}
                            <div class="tc tc{{ ok.combo_id|raw }}"><div class="title_ac"><h5>{{ ok.title|raw }}</h5></div>
                                {% for o in  ok.options %}
                                <select class="count_atrr" data-group="{{ ok.combo_goods_id }}-{{ o.attr_group_id }}">
                                    {% for key,attr in o.attr %}
                                        {%if loop.length == 1%}
                                            <option value="{{ attr.product_attr_id }}" data-id="{{ attr.product_attr_id }}" data-img="{{ attr.thumb }}">{{ attr.name|raw }}</option>
                                        {% else %}
                                            {% if loop.index == 1%}
                                                <option value="0">{{ o.attr_group_title|raw }}</option>
                                            {% endif %}
                                            <option value="{{ attr.product_attr_id }}" data-id="{{ attr.product_attr_id }}" data-img="{{ attr.thumb }}">{{ attr.name|raw }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </section>
                {% endfor %}
            {% else %}
            <!-- 单产品属性选择 -->
                <section data-loopIndex="1">
                    {% for o in  options %}
                        <select class="count_atrr" data-group="{{ o.attr_group_id }}">
                            {% for key,attr in o.attr %}
                                {%if loop.length == 1%}
                                    <option value="{{ attr.product_attr_id }}" data-id="{{ attr.product_attr_id }}" data-img="{{ attr.thumb }}">{{ attr.name|raw }}</option>
                                {% else %}
                                    {% if loop.index == 1%}
                                        <option value="0">{{ o.attr_group_title|raw }}</option>
                                    {% endif %}
                                    <option value="{{ attr.product_attr_id }}" data-id="{{ attr.product_attr_id }}" data-img="{{ attr.thumb }}">{{ attr.name|raw }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endfor %}
                </section>
            {% endif %}
            <!--数量-->
            <div class="u-fornum">
                <div class="con">
                    <div class="m-selnum">
                    <div onclick="minnumber()" class="less z-dis">-</div>
                    <div class="textWrap">
                        <div class="tt">1</div>
                        <input type="hidden" class="text numbertext form-control" value="1" name="num" id="num" onblur="inputnumber();">
                    </div>
                    <div onclick="addnumber()" class="more">+</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="buy_now">
            <button data-cuckootag="confirm_arrtibute" data-event="postcheckGuige">{{ lang.buy_now }}</button>
        </div>
    </div>