<div class="pricebox">
	<div class="price">
		<del>
			{{ new_price_format.symbol_left }}
			{{ new_price_format.market_price_format }}
			{{ new_price_format.symbol_right }}
		</del>
		<div>
			{{ new_price_format.symbol_left }}
			<span id="price_format">{{ new_price_format.price_format }}</span>
			{{ new_price_format.symbol_right }}
		</div>
	</div>
</div>