{% if theme == 'style92' %}
	<div class="flexbox ">
		<div class="flex tab_two"><input type="text" required="required" name="name" placeholder="{{ lang.name }}"></div>
		<div class="flex tab_two">
			<input type="number" required="required" name="mob" id="thaphone" error="{{ lang.mob_error }}" placeholder="{{ lang.phone }}">
		</div>
	</div>
	<div class="table-row">
		<input type="text"  maxlength="248" name="guest" placeholder="{{ lang.note }}">
	</div>
	<div class="flexbox">
		{% if payment_underline == 1 %}
			<div class="flex tab_two tab_sele" rel="0"><i class="icon"></i>{{ lang.cash_on_delivery }}</div>
		{% endif %}
		{% if payment_online == 1 or payment_paypal == 1 or payment_asiabill == 1 %}
			<div class="flex tab_two">
				<div class="tab_sele"><i class="icon"></i>{{ lang.order_onlinepay }}</div>
			</div>
	    {% endif %}
	</div>
	<input name="payment_type" value="0" type="hidden">
	<input type="hidden" required="required" name="address" value="ฝ่ายบริการลูกค้าติดต่อลูกค้าเพื่อรับข้อมูลที่อยู่จัดส่ง">
{% elseif theme == 'style92_1' %}
	<div class="flexbox ">
		<div class="flex tab_two"><input type="text" required="required" name="name" placeholder="{{ lang.name }}"></div>
		<div class="flex tab_two">
			<input type="number" required="required" name="mob" id="thaphone" error="{{ lang.mob_error }}" placeholder="{{ lang.phone }}">
		</div>
	</div>
	<div class="table-row">
        
         {% if regions.code == "THA" %}
        <input type="text" name="addressfalse" value="" placeholder="ที่อยู่รับของ （ไม่กรอกก็ได้）"> 
        {% else %}
        <input type="text" name="addressfalse" value="" placeholder="{{ lang.addr }}"> 
        {% endif %}
	</div>
	<div class="table-row">
		<input type="text" name="guest" maxlength="248" placeholder="{{ lang.note }}">
	</div>
	<div class="flexbox">
		{% if payment_underline == 1 %}
			<div class="flex tab_two tab_sele" rel="0"><i class="icon"></i>{{ lang.cash_on_delivery }}</div>
		{% endif %}
		{% if payment_online == 1 or payment_paypal == 1 or payment_asiabill == 1 %}
			<div class="flex tab_two">
				<div class="tab_sele"><i class="icon"></i>{{ lang.order_onlinepay }}</div>
			</div>
	    {% endif %}
	</div>
	<input name="payment_type" value="0" type="hidden">
	<script type="text/javascript">
		$('input[name="addressfalse"]').change(function(){
			var text = $(this).val();
			var addtext = '**';
			if($.trim(text) != ''){
				addtext += text;
			}else{
				addtext += 'ยังไม่มี';
			}
			$('input[name="address"]').val(addtext);
        });
	</script>
	<input type="hidden" required="required" name="address" value="**ยังไม่มี">
{% else %}
	<div class="flexbox ">
		<div class="flex tab_two"><input type="text" required="required" name="name" placeholder="{{ lang.name }}"></div>
		<div class="flex tab_two">
			<input required="required" id="tha_postal" type="number" name="postal" placeholder="{{ lang.postal }}">
		</div>
	</div>
	<div class="flexbox">
		<div class="flex marleft" style="margin-left:0;">
			<div class="ui-col ui-col-100 ui-select">
				<input type="hidden" required="required" name="city" error="รหัสไปรษณีย์ ผิด!" value >
                <select name="district" class="regions-city tha_district" required>
                    <option>ตำบล อำเภอ</option>
                </select>
           	</div>
        </div>
        <div class="flex regions" style="margin-left: 4px;">จังหวัด</div>
	</div>
    <div class="table-row">
        {% if theme == 'style39'%}
        <input type="text" name="address" placeholder="{{ lang.addr }}">
        {% else %}
        <input type="text" required="required" name="address" placeholder="{{ lang.addr }}">
        {% endif %}
	</div>
    <div class="flexbox">
		<div class="flex tab_two">
			<input type="number" required="required" name="mob" id="thaphone" error="{{ lang.mob_error }}" placeholder="{{ lang.phone }}">
		</div>
		<div class="flex tab_two">
			<input type="email" name="email" placeholder="{{ lang.email }}">
		</div>
	</div>
	<div class="table-row">
		<input type="text"  maxlength="248" name="guest" placeholder="{{ lang.note }}">
	</div>
	<div class="flexbox">
		{% if payment_underline == 1 %}
			<div class="flex tab_two tab_sele" rel="0"><i class="icon"></i>{{ lang.cash_on_delivery }}</div>
		{% endif %}
		{% if payment_online == 1 or payment_paypal == 1 or payment_asiabill == 1 %}
			<div class="flex tab_two">
				<div class="tab_sele"><i class="icon"></i>{{ lang.order_onlinepay }}</div>
			</div>
	    {% endif %}
	</div>
	{% if payment_ocean %}
		<div class="flexbox">
			<div class="flex tab_two tab_sele" rel="4"><i class="icon"></i>
				<img src="/lib/ocean/image/card_1.gif" style="width: auto;">
				<img src="/lib/ocean/image/card_2.gif" style="width: auto;">
				<img src="/lib/ocean/image/card_3.gif" style="width: auto;">
			</div>
        </div>
		<div class="table-row pay-type" style="display: none;">
			{{ ocean|raw }}
		</div>
	{% endif %}
	<input name="payment_type" value="0" type="hidden">
{% endif %}
<script>
    var payInfo = 0;
    function todo(){
        $('input[name="name"]').on("keydown", function () {
            if (payInfo == 0) {
                fbq('track', 'AddPaymentInfo');
                payInfo += 1;
            };
        });
    }
    var theme = $("#theme").val();
    if(payInfo == 0 && "{{regions.code}}" == "THA"){
        todo()
    };
    
</script>