{% include '/public/theme/header.twig' %}
<!--  -->
<link href="{{ THEME }}/css/style.css" type="text/css" rel="stylesheet"/>
<link href="/public/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<script src="/public/jquery-1.3.2.js" type="text/javascript"></script>
<!--  -->
<div id="order">
    <div class="warp">
        <form id="form" name="form" action="order.php" method="post" onSubmit="return postcheck();" >
            <div class="nav-header">
                <div class="header-left"><a href="/{{ identity_tag}}"><span class="glyphicon glyphicon-menu-left"></span></a> </div>
                <h2  style="background:#FF6F20; font-weight:600 ">{{ lang.product_information }}</h2>
            </div>
            
            <!--套餐-->
           
                <div class="bdbox" id="combo">
                    <label class="bdxx"><em>*</em> {{ lang.product }} </label>
                    <div class="dxbox red">
                         {% if combo %}
                             {% for c in combo %}
                                  <label><input type="radio" name="combo_id" value="{{ c.combo_id }}" class="combo"> {{ c.title|raw }}</label>
                                 <br>
                             {% endfor %}
                             {% else %}
                                 <input type="radio" name="combo_id" value="0"> {{ title|raw }}
                         {% endif %}
                       
                    </div>
                </div>
            
            <!--套餐-->
             <!--属性开始-->
            <div id="product_attr">
                {% if combo %}
                    <!--产品套餐属性-->
                    {% for om in  combo %}
                        {% for ok in  om.goods %}
                            {% if ok.options %}
                                <div class="bdbox">
                                    <div class="tc tc{{ ok.combo_id|raw }}" style="display: none;"><div><h5 style="border-bottom: 1px dotted #ccc;padding-left: 8px">{{ ok.title|raw }}</h5></div>
                                        {% for o in  ok.options %}
                                            <li class="item protoLayer">
                                                <div style="padding-left: 8px" class="u-format count_atrr" data-group="{{ o.attr_group_id }}" data-select="0">
                                                    <div class="tt">{{ o.attr_group_title|raw }}</div>
                                                    <div class="con">
                                                        {% for key,attr in o.attr %}
                                                            <label style="text-align: center">
                                                                {% if attr.thumb %}
                                                                <img src="{{ attr.thumb }}" width="80" height="80">
                                                                    {% endif %}
                                                                <p><span><input type="radio" style="text-align: center;" name="attr[{{ o.attr_group_id }}]" value="{{ attr.product_attr_id }}">{{ attr.name|raw }}</span></p>
                                                            </label>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="cls"></div>
                                            </li>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <!--产品属性-->
                    {% for o in  options %}
                        <li class="item protoLayer">
                            <div class="u-format count_atrr" data-group="{{ o.attr_group_id }}" data-select="0">
                                <div class="tt">{{ o.attr_group_title|raw }}</div>
                                <div class="con">
                                    {% for key,attr in o.attr %}
                                        <label style="max-width:32%;display:inline-block;padding:5px;background: #eee">
                                            {% if attr.thumb %} <img src="{{ attr.thumb }}" style="width: 100%; height: auto;"> <br>{% endif %}
                                            <input type="radio" id="iin" style="" name="attr[{{ o.attr_group_id }}]" value="{{  attr.product_attr_id }}" class="radioAttr">
                                            {{ attr.name|raw }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="cls"></div>
                        </li>
                    {% endfor %}
                {% endif %}
                <input type="hidden" name="act" value="getAttrPrice">
            </div>
              <!--属性结束-->
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.num }}</label>
                <div class="input-group " style="width: 130px;margin: 5px 0px;">
                <span class="input-group-btn" >
                <button  class="btn btn-default inc-btn" type="button" onClick="minnumber()">-</button>
                </span>
                    <input type="text" class="text numbertext form-control" value="1" name="num" id="num" onBlur="inputnumber();" style="text-align: center;height: 30px">
                    <span class="input-group-btn">
                <button class="btn btn-default inc-btn" type="button" onClick="addnumber()">+</button>
                 </span>
                </div>
            
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.name }}</label>
                <div class="textbox">
                    <input required="required" type="text" name="name" class="inputText"/>
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.mobile }}</label>
                <div class="textbox">
                    <input required="required" type="text" name="mob" class="inputText"/>
                </div>
            </div>
            
            <div class="bdbox">
                <label class="bdxx" for="email"><em></em>E-mail</label>
                <div class="textbox"><input name="email" placeholder="{{ lang.email_use }}" maxlength="30" class="inputText" type="email">  </div>
            </div>
        
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.address_full }}</label>
                <div class="textbox" id="province">
                    <select name="province">
                        <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
                    </select>
                    {% if regions.region_son %}
                        <select name="city">
                            {% for i in regions.region_son %}
                                <option value="{{ i.lang}}">{{ i.lang }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            
            <div class="bdbox">
                <label class="bdxx"></label>
                <div class="textbox">
                <input required="required" type="text" name="address" placeholder="{{ lang.address_warming }}" class="inputText">
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"> {{ lang.postal }}</label>
                <div class="textbox">
                    <input type="text" name="postal"  class="inputText">
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.money }}</label>
                <div class="text3box">
                   {% if currency_prefix ==1 %} {{ currency_code }} {% endif %} <input name="price" readonly style="width:80px;" value="{{ discount_price  }}"/> {% if currency_prefix ==0 %} {{ currency_code }} {% endif %}  <span id="zfbyh"></span>
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"><em>*</em>{{ lang.cash_style }}</label>
                <div class="dxbox">
                      {% if payment_online ==1 and payment_underline ==1 %}
                            <input name="payment_type" value="1" type="radio" checked>   {{ lang.yijifu }}
                            <input name="payment_type" value="0" type="radio">   <img src="{{ THEME }}/images/hdfk.gif">
                          
                          {% elseif payment_online ==1 %}
                              <input name="payment_type" value="1" checked type="radio">   {{ lang.yijifu }}
                          {% elseif payment_underline ==1 %}
                              <input name="payment_type" value="0" checked type="radio">  <img src="{{ THEME }}/images/hdfk.gif">
                      {% endif %}
                    
                </div>
            </div>
            
            <div class="bdbox">
                <label class="bdxx">{{ lang.note }}</label>
                <div class="text2box">
                    <textarea name="guest" placeholder="{{ lang.order_remark }}"></textarea>
                </div>
            </div>
            
            <div class="subbox">
                <input type="submit" name="Submit" class="btn-style" value="{{ lang.submit_order }}">
            </div>
            <div class="bdbox">
                <div style="padding: 10px">
                    <font color='black'>{{ lang.warming|raw }}</font>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
          
          
        </form>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function()
    {
        //默认第一个属性选中
         $('#product_attr .bdbox').each(function(){
             $(this).find('input[type=radio]').eq(0).attr("checked", true);
         }) ;
        
        
        $("#combo").find('input[type=radio]').eq(0).attr("checked", true);
        refresh_price();
    }) ;

    $('.combo').click(function () {
        refresh_price();
    }) ;
    
    function addnumber(){
        $('#num').val(parseInt($('#num').val())+1);
        refresh_price();
    }
    function minnumber(){
        if($('#num').val()>1){
            $('#num').val(parseInt($('#num').val())-1);
            refresh_price();
        }
    }
    function inputnumber(){
        var number=parseInt($('#num').val());
        if(isNaN(number)||number < 1){
            $('#num').val('1');
            refresh_price();
        }else if(number > 1){
            $('#num').val(number);
        }
        refresh_price();
    }
    function refresh_price() {
        $.ajax({
            url: 'checkout.php?',
            type: 'post',
            data: $('#combo input[type=\'radio\']:checked,#product_attr input[type=\'hidden\'],input[name=\'num\']'),
            dataType: 'json',
            success: function(json) {
               if(json.ret)
               {
                  $("input[name='price']").val(json.total);
               }
               else{
                   alert(json.msg)
               }
            },
            error: function(xhr, ajaxOptions, thrownError) {
            }
        });
    }
    $(document).ready(function(){
        $("input[name='combo_id']").each(function(){
            if($(this).attr('checked')){
                $(".tc"+$(this).val()).show();
                $(".tc"+$(this).val()+" .con").each(function () {
                    var obj = $(this).find('label')
                    obj.eq(0).addClass('active').children('input').attr("checked", 'true');
                })
            }else{
                $(".tc"+$(this).val()).hide();
            }
            $(this).click(function(){
                $(".tc").hide();
                $(".tc"+$(this).val()+" .con label").addClass('active').removeClass('active');
                $(".tc .con label").children('input').removeAttr("checked");
                $(".tc"+$(this).val()+" .con").each(function () {
                    var obj = $(this).find('label')
                    obj.eq(0).addClass('active').children('input').attr("checked", 'true');
                })
                $(".tc"+$(this).val()).show();
            });
        })
    });
    if($(".protoLayer .con label img").attr('src')==""){
        $(".protoLayer .con label img").hide()
    }else {
        $(".protoLayer .con label img").show()

    }
</script>
<script type="text/javascript" src="{{ THEME }}/js/not31.js"></script>
{% include '/public/theme/footer.twig' %}
