{% include '/public/theme/header_lightning.v3.twig' %}
<!-- <link rel="stylesheet" href="http://imgcn.stosz.com/static/theme/style32_2/index.css?v=1"> -->
<link rel="stylesheet" href="{{ THEME }}/style/index.css">
<!--  -->
<input id="region_code" value="{{ regions.code }}" type="hidden">
<input id="identity_tag" value="{{ identity_tag }}" type="hidden">
<!--  -->
<section id="page-index">
	<div class="header">
		<h1>{{ title }}</h1>
	</div>
	<div class="img_wrap">
		<h2>{{ lang.product_img }}</h2>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for p in photos %}
					<div class="swiper-slide">
						 {% if loop.index == 1 %}
							<img src="{{ p.thumb }}" width="100%">
						 {% else %}
							<img class="lazyload" style="display:none;" src="" data-img="{{ p.thumb }}" width="100%">
						 {% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{#  #}
	<div class="dom-sales">
		<h2>{{ lang.time_limit }}</h2>
		<div class="sales_wrap">
			<div class="sales">
				<div class="price">
					{{ currency_code }}<ins>{{ price }}</ins>
				</div>
				<div class="sales_info">
					<div>
						<del>{{ market_price }}</del>
					</div>
					<div class="sales_num">
						{{ sales }}{{ lang.piece }}{{ lang.sold }}
					</div>
				</div>
			</div>
			<div class="time_wrapper">
				<div class="timeWrap">
					<span id='clock'>{{ lang.countdown }}</span>
					<span
                        id="timer"
                        data-fn="module_countdown_core"
                        data-value="{{ modulesParam.countdown.options.end_timer }}"
                        data-step="{{ modulesParam.countdown.options.time_step }}">
                        <span id="h">-</span>
                        <span class="colon">:</span>
                        <span id="m">-</span>
                        <span class="colon">:</span>
                        <span id="s">-</span>
                        <span class="colon"></span>
                    </span>
				</div>
			</div>
		</div>
	</div>
	{#  #}
	<div class="module_title">
		<h1>{{ title }}</h1>
	</div>
	<div class="service-tips">
		<div class="service">
			<span>{{ lang.time_discount }}</span>
			<span>{{ lang.cash_on_delivery }}</span>
			<span>{{ lang.hot }}</span>
		</div>
	</div>
	<div class="moduel_details">
		<div class="buy_now">
			{% if comment %}<div><a href="#comment">{{ lang.user_comment }}（{{ (sales*0.7)|number_format(0) }}）</a></div>{% endif %}
			<a href="#page-order">{{ lang.buy_now }}</a>
		</div>
	</div>
	{#  #}
	<div class="product_info">
		<h2>{{ lang.pro_attr }}</h2>
		<div id="ceontentTemplate" style="display:none;">
{{ content|replace({
	'<img class="" src=': '<img class="lazyload" src="public/image/spinner2.gif" data-img=',
	'<img src=': '<img class="lazyload" src="public/image/spinner2.gif" data-img=',
	'preload="auto"': 'preload="none"'
}) }}
		</div>
		<div class="m-img"></div>
	</div>
</section>
<section id="page-order">
	<h2>{{ lang.order_info }}</h2>
	<div class="order_title"><h1>{{ title }}</h1></div>
	<form id="form" name="form" action="order.php" method="post" onSubmit="return prepost()">
		<input type="hidden" name="token" value="{{ token }}">
		<input type="hidden" id="act" name="act" value="getAttrPrice">
		<input type="hidden" name="product_id" value="{{ product_id }}">
		<!--套餐-->
		<div class="tips">
			<p>{{ tips }}</p>
		</div>
		<div class="bdbox" id="combo">
			<label class="bdxx"><em>*</em> {{ lang.pro_choose }} </label>
			<div class="dxbox red">
				{% if combo %}
					{% for c in combo %}
				    <label
					 	class="combo"
						style="padding: 5px;"
						data-comboId="{{c.combo_id}}"
						data-loopIndex="{{loop.index}}"
						data-multiple="{{c.is_single_combo}}"
						data-price="{{ c.price }}">
				  		<input type="radio" name="combo_id" value="{{ c.combo_id }}">
				  		{{ c.title|raw }}-{{ currency_code }} {{ c.price }}
		  			</label>
					<br>
					{% endfor %}
				{% else %}
					<label
						class="combo"
						data-comboId="0"
						data-loopIndex="1"
						data-price="{{ price }}"
						data-multiple="0">
						<input type="radio" name="combo_id" value="0">
						{{ title|raw }}
					</label>
				{% endif %}
			</div>
		</div>
		<!--套餐end-->
		<!--属性开始-->
		<div id="product_attr">
			{% if combo %}
				<!--循环套餐-->
				{% for om in  combo %}
					<section data-loopIndex="{{ loop.index }}" style="display: {% if loop.index != 1 %}none{% else %}block{% endif %}">
					<!-- 循环产品 -->
					{% for ok in  om.goods %}
						{% if ok.options %}
						<div class="item">
							<div class="tc tc{{ ok.combo_id|raw }}" comboproduct>
								<!-- 循环属性 -->
								<div style="font-weight: bold;font-size: 12px;padding: 10px;">{{ ok.title }}</div>
								{% for o in  ok.options %}
									<div class="bdbox" data-prototype-group="{{ loop.index }}"  data-group="{{ o.attr_group_id }}" data-select="0">    
											<label class="bdxx">
												<em>*</em>
												{{ o.attr_group_title|raw }}
											</label>
											<div class="dxbox">
												{% for key,attr in o.attr %}

													<label>{% if attr.thumb %}<img class="lazyload" src="" data-img="{{ attr.thumb }}" style="width:100px; height: auto;">
														<br/>
														{% endif %}
														<input type="radio"  name="attr[{{ ok.combo_goods_id }}-{{ o.attr_group_id }}]" value="{{ attr.product_attr_id }}" style="vertical-align: top;">
														<span style="font-weight: normal;">{{ attr.name|raw }}</span>
													</label>

												{% endfor %}
											</div>
									</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					{% endfor %}
					</section>
				{% endfor %}
			{% else %}
				<section data-loopIndex="1">
				<!--循环当前产品属性-->
				{% for o in  options %}
					<div class="bdbox" data-prototype-group="{{ loop.index }}">
						<label class="bdxx"><em>*</em>{{ o.attr_group_title|raw }}</label>
						<div class="dxbox">
							{% for key,attr in o.attr %}
								{% if attr.thumb %}
									<label style="width:30%"><img class="lazyload" src="" data-img="{{ attr.thumb }}" style="width: 100%; height: auto;"> <br>
								{% else %}
									<label>
								{% endif %}
									<input type="radio" id="iin" style="" name="attr[{{ o.attr_group_id }}]" value="{{  attr.product_attr_id }}" class="radioAttr">
									<span>{{ attr.name|raw }}</span>
								</label>
							{% endfor %}
						</div>
						<div class="cls"></div>
					</div>
				{% endfor %}
				</section>
			{% endif %}
			<input type="hidden" name="act" value="getAttrPrice">
		</div>
		<!--属性结束-->
		<div class="bdbox">
			<label class="bdxx"><em>*</em>{{ lang.money }}</label>
			<div class="text3box">
			{% if combo %}
				{% for a in combo %}
					{% if loop.index == 1 %}
						<input name="price" readonly style="width:80px;" value="{{ a.price  }}"/>
					{% endif %}
				{% endfor %}
			{% else %}
				<input name="price" readonly style="width:80px;" value="{{ discount_price  }}"/>
			{% endif %}
			</div>
		</div>
		<div class="bdbox">
			<label class="bdxx"><em>*</em>{{ lang.num }}</label>
			<div class="m-selnum dr">
				<div onclick="minnumber()" class="less z-dis">-</div>
				<div class="textWrap">
					<div class="tt">&nbsp;<span>1</span></div>
					<input type="hidden" class="text numbertext form-control" value="1" name="num" id="num" onblur="inputnumber();">
				</div>
				<div onclick="addnumber()" class="more">+</div>
			</div>
		</div>
		<div class="bdbox half">
			<input type="hidden" name="region_id" value="{{ regions.region_id }}">
			<label class="bdxx"><em>*</em>{{ lang.name }}</label>
			<div class="textbox">
				<input required="required" type="text" name="name" class="inputText" placeholder="{{ lang.input_name }}" />
			</div>
		</div><div class="bdbox half">
			<label class="bdxx" for="email"><em></em>{{ lang.postal }}</label>
			<div class="textbox">
                <input type="text" name="postal" id="tha_postal"  class="inputText" placeholder="{{ lang.postal }}">
            </div>
		</div><div class="bdbox half">
			<label class="bdxx"><em>*</em>{{ lang.district }}</label>			
			<div class="textbox" id="district">
				<input type="hidden" name="province" value="{{ regions.region_id }}">
				<input type="hidden" required="required" name="city" error="รหัสไปรษณีย์ ผิด!" value >
                <select name="district" class="district tha_district" required>
                    <option value="">ตำบล อำเภอ</option>
                </select>
			</div>			
		</div><div class="bdbox half">
			<label class="bdxx"><em>*</em>{{ lang.province }}</label>			
			<div class="textbox regions">{{ lang.province }}</div>			
		</div>
		<div class="bdbox">
			<label class="bdxx"><em>*</em>{{ lang.address_full }}</label>
			<div class="textbox">
				<textarea rows="2" cols="2" required="required" name="address" placeholder="{{ lang.address_warming }}" class="inputText"></textarea>
			</div>
		</div>
		<div class="bdbox half">
			<label class="bdxx"><em>*</em>{{ lang.mobile }}</label>
			<div class="textbox">
				<input required="required" type="text" name="mob" class="inputText" placeholder="{{ lang.input_phone }}" />
			</div>
		</div><div class="bdbox half">
			<label class="bdxx" for="email"><em></em>{{ lang.email }}</label>
			<div class="textbox"><input  name="email" placeholder="{{ lang.email }}" maxlength="30" class="inputText" type="email">  </div>
		</div>
		<div class="bdbox">
			<label class="bdxx">{{ lang.note }}</label>
			<div class="text2box">
                 {% if regions.code == "THA" %}
                <textarea name="guest" maxlength="248" rows="1" placeholder="{{ lang.order_remark }}"></textarea>
                 {% else %}
                <textarea name="guest" rows="1" placeholder="{{ lang.order_remark }}"></textarea>
                 {% endif %}
			</div>
		</div>
		<div class="bdbox" style="flex-wrap:wrap;">
			<label class="bdxx"><em>*</em>{{ lang.cash_style }}</label>
			<div class="dxbox">
				<label for="payment_type">
					<input name="payment_type" value="0" type="radio">
					<span class="huo">{{ lang.cash_on_delivery }}</span>
				</label>
			</div>
            <div class="huo_info">{{ lang.half_pre }}</div>
            {% if regions.code == 'THA' %}
                <div style="font-weight:900;">{{lang.customer_contact}}</div>
            {% endif %}
		</div>
		<div class="submit">
			<button type="submit" name="Submit_form" style="visibility:hidden">{{ lang.confirm }}</button>
		</div>
	</form>
	{% if comment %}
	<div class="comment-layer" id="comment">
		<h2>{{ lang.user_comment }}</h2>
		<div class="picMarquee-top">
			<div class="bd" data-fn="commentScroll" style="height: 300px; overflow: hidden">
				<ul class="picList">
					{% for a in comment %}
						{% if loop.index <= 100 %}
						<li data-groud="{{ a.comment_id }}" style="margin-bottom: 8px;height: auto;">
							{% if a.is_anonymous==1 %}
								<span style="color: red;font-size: 14px">{{ lang.anonymous }}</span>
							{% else %}
								<span style="color: red;font-size: 14px">{{ a.name }}</span>
							{% endif %}
							&nbsp;<span style="font-size: 14px;">{{ lang.Satisfaction }}：<span style="color: red;">{{ a.star }}</span></span>
							<div style="border-top:1px dotted #d0d6d6;margin-top: 5px;color: #444;padding:5px 0;font-size: 12px;">{{ a.content }}</div>
							<div class="msKeimgBox">
								<ul>
									{% for b in a.thumb %}
										<li>
											<img src="{{ b.thumb }}" width="75" height="75" data-zoom-img />
										</li>
									{% endfor %}
								</ul>
							</div>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<div style="clear: both"></div>
	</div>
	{% endif %}
</section>
<div class="like_wrap">
	<div class="like_shadow" act-close></div>
	<div class="like">
		<div class="close" act-close> × </div>
		<div class="content">{{ lang.like_before }}1{{ sales }}{{ lang.like }}</div>
	</div>
</div>
<footer>
	<div command-click="handleScrollTop">TOP</div>
	<div class="inquiry"><a href="javascript:;" data-cuckootag="check_order" data-value="{{ identity_tag }}">{{ lang.order_inquiry }}</a></div>
    <div class="buy_now"><a href="#form" data-cuckootag="confirm_order">{{ lang.order_now }}</a></div>
    <div class="kefu" data-cuckootag="service" data-value="{{ service_contact_id }}"></div>
</footer>
<!-- footer resource -->
{% set pageSign = "index" %}
{% include 'public/theme/footer_lightning.v3.twig' %}