<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<title>{{ web_title }}</title>
	<meta content="{{ web_keywords}}" name="Keywords">
	<meta name="description" content="{{ web_desc }}" />
	<link rel="stylesheet" href="{{ THEME }}/plugin/frozen.css">
	<link rel="stylesheet" href="{{ THEME }}/style/style.css">
	<script src="{{ THEME }}/plugin/zepto.min.js"></script>
	<script src="{{ THEME }}/plugin/frozen.js"></script>
</head>
<body>
	<!--  -->
	<div class="ui-offcanvas">
    <div class="boxer">
        <h1>{{ lang.offcanvas_title }}</h1>
        <ul class="ui-list menu">
            {% for c in category %}
            <li class="">
                <a href="/cat/{{ c.cid }}" class="ui-arrowlink">{{ c.title }}</a>
                {% for s in c.son %}
                   <div class="menu-item-child"><a href="/cat/{{ s.cid }}">{{ s.title }}</a></div> <!--第二层-->
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    <!--用ajax获取，URL地址 /ajaxGoods/{id} 这个id为后台配置的各个模块id 不传id默认为配置后台首页-->
    <input type="hidden" value="{{id}}" id="cat_id">
    <section id="main">
        <header class="ui-header ui-header-stable ui-border-b">
            <i class="ui-icon-scan1"><img src="{{ THEME }}/image/maue.png" height="20px" style="margin-top: 12px;position: absolute" alt=""></i>
            <h1>{{ title }}</h1>
            <a class="header-right home_btn" href="/"><img src="{{ THEME }}/image/home.png" height="25px" style="position: absolute;top: 10px;right:8px;" alt=""></a>
        </header>
        <section class="ui-container page-index">
            <!--首页推送产品-->
            <div class="ui-panel text-center" data-mid="0">
                <div class="ui-row products"></div>
            </div>
            <div class="ui-btn-wrap" style="opacity: 0 !important;position: relative;display: none;">
            	<button class="ui-btn-lg loadmore">loading</button>
            </div>
        </section>
    </section>
    <!--  -->
    <div id="goods-demo" style="display:none;">
        <div class="ui-col ui-col-50">
            <a href="../../index.php">
                <div class="product-grid">
                    <div class="product-thumb">
                        <img src="../../index.php">
                    </div>
                    <div class="product-title">{title}</div>
                    <div class="product-price red">{price}</div>
                    <div class="market_price">{market_price}</div>
                </div>
            </a>
        </div>
    </div>
	<!-- <p>footer</p> -->
	<script src="{{ THEME }}/script/cat.js"></script>
</body>
</html>

