{% extends 'base.twig' %}

{% block content %}
{% include '/public/theme/google_remarketing_index.twig' %}
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8' async></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8' async></script>
<!--如果你用到了拓展包中的组件，还需要引用下面两个-->
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.css">
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8' async></script>
<div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
                <a class="icon icon-menu pull-left open-panel"></a>
                <!-- <h1 class="title">{{ info.title }}</h1> -->
                {% if info.logo %}
                    <img src="{{ info.logo }}">
                {% else %}
                    <h1 class="title">{{ info.title }}</h1>
                {% endif %}
            </header>


            <!-- 这里是页面内容区 -->
            <div class="content">
                {{ index_focus|raw }}
                {% if category_id %}
                    <div class="titlesback catetitle">{{ title }}</div>
                    <div class="page-index">
                        <div class="ui-panel text-center" data-mid="{mid}"><ul class="ui-grid-trisect products"></ul> </div>
                        <div class="preload" data-error='{{ lang.no_more }}' style="text-align:center;font-size:12px;color:#666;line-height:2.4">{{ lang.load }}...</div>
                    </div>
                    <div id="category" style="display:none;">
                        <li>
                            <a href="{{ type }}">
                            <div class="ui-grid-halve-img product-classify">
                                <div class="ui-tag-s-hot product-thumb">
                                    <img src="{{thumb}}">
                                </div>
                                <div class="product-title">{{ title }}</div>
                                <div class="product-title listprice"><strong>{price}</strong><del>{market_price}</del></div>
                            </div>
                            </a>
                        </li>
                    </div>
                    <div class="ui-panel text-center" data-mid="{mid}" style="display:none;">
                        <ul class="ui-grid-halve classify">
                            {% for a in ModuleGoods %}
                            <li rel='{{ a|json_encode|raw }}'>
                                <a href="{{ a.type }}">
                                <div class="ui-grid-halve-img product-classify">
                                    <div class="ui-tag-s-hot product-thumb">
                                        <img src="{{ a.thumb }}">
                                    </div>
                                    <div class="product-title">{{ a.title }}</div>
                                    <div class="product-title listprice"<strong>{{ a.currency_code }}{{ a.price }}</strong><del>{{ a.currency_code }}{{ a.market_price }}</del></div>
                                </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="page-index">
                        <div class="ui-panel text-center" data-mid="{mid}"><ul class="ui-grid-trisect products"></ul> </div>
                        <div class="preload" data-error='{{ lang.no_more }}' style="text-align:center;font-size:12px;color:#666;line-height:2.4;">{{ lang.load }}...</div>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
        <div class="slidebar">
            <ul>
                {% if category_id %}
                    <li rel="123"><a href="/" class="external">{{ lang.home_page }} </a></li>
                    {% for c in category_title %}
                        <li {% if category_id == a.id %}class="action"{% endif %}>
                            {% if c.child %}
                                <a class="external parent_category" data-link="./?category_id={{ c.id }}">{{ c.title }}</a>
                                <div class="child_category">
                                    {% for cc in c.child %}
                                    <div><a href="./?category_id={{ cc.id }}" class="external">{{ cc.title }}</a></div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <a class="external" href="./?category_id={{ c.id }}">{{ c.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="action"><a href="/" class="external">{{ lang.home_page }}</a></li>
                    {% for c in category_title %}
                        <li>
                        {% if c.child %}
                            <a class="external parent_category" data-link="./?category_id={{ c.id }}">{{ c.title }}</a>
                            <div class="child_category">
                                {% for cc in c.child %}
                                <div><a href="./?category_id={{ cc.id }}" class="external">{{ cc.title }}</a></div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <a class="external" href="./?category_id={{ c.id }}">{{ c.title }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="content-block">
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel">{{ lang.close_category }}</a></p>
        </div>
    </div>


    <!--  -->
    <div id="goods-demo" style="display:none;">
        <li class="ui-grid-trisect">
            <a href="{type}">
                <div class="product-grid">
                    <div class="product-thumb">
                        <img src="">
                    </div>
                    <div class="product-title">{title}</div>
                    <div class="product-price">{price}</div>
                    <!-- <div class="market_price">{market_price}</div> -->
                </div>
            </a>
        </li>
    </div>


    <script src="{{ THEME }}/script/index.js"></script>

{% endblock %}
{% block footer_js %}
    
{% endblock %}

