{% extends 'base.twig' %}

{% block content %}
{% include '/public/theme/google_remarketing_cat.twig' %}
{% include 'navigation.twig' %}
<div class="navtypeview">
    <div id="category">
        <div><a class="vertical-view check" href="/">HOME</a></div>
        {% for c in category_title %}
        <div>
            {% if c.child %}
                <a class="vertical-view parent_category" data-link="./?category_id={{ c.id }}&show=1">{{ c.title }}</a>
                <div class="child_category">
                    {% for cc in c.child %}
                    <div><a href="./?category_id={{ cc.id }}&show=1">{{ cc.title }}</a></div>
                    {% endfor %}
                </div>
            {% else %}
                <a class="vertical-view" href="./?category_id={{ c.id }}&show=1">{{ c.title }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="bread">
    <a href="/">HOME</a><span>&gt;</span><a href="./?category_id={{ title_id }}&show=1">{{ title }}</a>{% if title2 %}<span>&gt;</span><a href="./?category_id={{ title2_id }}&show=1">{{ title2 }}</a>{% endif %}
</div>
<input type="hidden" value="{{category_id}}" id="cat_id">
<!--内容产品-->
    <div id="content">
        <div class="cat_title"><span class="cat_name">{% if title2 %}{{ title2 }}{% else %}{{ title }}{% endif %}</span></div>
        <div class="row wcolor">
            
        </div>
        <div class="page_num"></div>
    </div>
    <div id="module_dome" style="display: none;">
        <div class="col-6 items">
            <a href="{url}">
                <div class="thumbnail">
                    <div class="tagWraper">
                        <div class="imgthumb lazyload empty">
                            <img src="{thumb}" alt="{title}">
                        </div>
                    </div>
                    <div class="caption">
                        <h4 class="title">{title}</h4>
                        <p>{shop_price}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="emptydiv" style="display: none;">
        <div class="emptydiv"><div class="emptyicon list-care"></div><p class="p1">{{lang.empty_category}}</p></div>
    </div>
<script src="{{ THEME }}/script/cat.js"></script>
{{ footer|raw }}
{% endblock %}
{% block footer_js %}
{% endblock %}

