<section class="form-layer form-layer-inline">
    <div class="bdbox">
        <label class="bdxx"><em>*</em>{{ lang.money }}</label>
        <div class="">
        {% if combo %}
            {% for a in combo %}
                {% if loop.index == 1 %}
                    <input name="price" readonly style="width:80px;" value="{{ a.price  }}"/>
                {% endif %}
            {% endfor %}
        {% else %}
            <input name="price" readonly style="width:80px;" value="{{ discount_price  }}"/>
        {% endif %}
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx"><em>*</em>{{ lang.num }}</label>
        <div class="m-selnum dr">
            <div onclick="minnumber()" class="less z-dis">-</div>
            <div class="textWrap">
                <div class="tt">&nbsp;<span>1</span></div>
                <input type="hidden" class="text numbertext form-control" value="1" name="num" id="num" onblur="inputnumber();">
            </div>
            <div onclick="addnumber()" class="more">+</div>
        </div>
    </div>
    <div class="bdbox">
        <input type="hidden" name="region_id" value="{{ regions.region_id }}">
        <label class="bdxx"><em>*</em>{{ lang.name }}</label>
        <div class="textbox">
            <input required="required" type="text" name="name" class="inputText" placeholder="{{ lang.input_name }}" />
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx"><em>*</em>{{ lang.mobile }}</label>
        <div class="textbox">
            <input required="required" type="text" name="mob" class="inputText" placeholder="{{ lang.input_phone }}" />
        </div>
    </div>
    {% if regions.code == 'MYS' %}
    <div class="bdbox">
        <label class="bdxx">
            <em>*</em>{{ lang.country }}</label>
        <div class="textbox">
            <select name="province">
                <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
            </select>
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx">
            <em>*</em>{{lang.ms_state}}</label>
        <div class="textbox">
            <select name="state" required="required">
                <option value="" selected>{{lang.please_select}}</option>
            </select>
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx">
            <em>*</em>{{lang.city}}
        </label>
        <div class="textbox">
            <select name="city" required="required">
                <option value="" selected>{{lang.please_select}}</option>
            </select>
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx">
            <em>*</em>{{lang.ms_district}}
        </label>
        <div class="textbox">
            <select  name="district" required="required">
                <option value="" selected> {{lang.please_select}}</option>
            </select>
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx">
            <em>*</em>{{lang.area}}
        </label>
        <div class="textbox">
            <select  name="street" required="required">
                <option value="" selected>{{lang.please_select}}</option>
            </select>
        </div>
    </div>
    {% else %}
        <div class="bdbox">
            <label class="bdxx">
                <em>*</em>{{ lang.province }}</label>
            <div class="textbox">
                <select name="province">
                    <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
                </select>
                {% if regions.region_son and regions.code != 'MYS' and regions.code != 'TW' and regions.code != 'KHM' %}
                    <select name="city">
                        <option value="">{{ lang.province_choose }}</option>
                        {% for i in regions.region_son %}
                        <option value="{{ i.lang}}">{{ i.lang }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
        {% if regions.code == 'KHM' %}
            <div class="bdbox">
                <label class="bdxx"></label>
                <div class="textbox">
                    <select name="city" required="required" >
                        <option value="">ខេត្(Province)</option>
                        {% for i in regions.region_son %}
                        <option value="{{ i.name}}" data-id="{{ i.id_region }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="bdbox">
                <label class="bdxx"></label>
                <div class="textbox">
                    <input name="district" placeholder="ទីក្រុង(City)" required="required" readonly class="inputText"></input>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if regions.code == "TW" %}
        <div class="bdbox">
            <label class="bdxx"></label>
            <div class="textbox">
                <select name="city" required="required">
                    <option value="">{{lang.city}}</option>
                </select>
            </div>
        </div>
        <div class="bdbox">
            <label class="bdxx"></label>
            <div class="textbox">
                <select name="district" required="required">
                    <option value="">{{lang.district}}</option>
                </select>
            </div>
        </div>
    {% endif %}
    <div class="bdbox">
        <label class="bdxx"><em>*</em>{{ lang.address_full }}</label>
        <div class="textbox">
        <input required="required" type="text" name="address" placeholder="{{ lang.address_warming }}" class="inputText">
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx" for="email"><em></em>{{lang.postal}}</label>
        <div class="textbox">
            <input type="text" name="postal" {% if regions.code == 'MYS' %} readonly {% endif %}  class="inputText" placeholder="{{ lang.postal_long }}" {% if regions.code == 'TW' %} error="{{ lang.test_postal }}" {% endif %}>
        </div>
    </div>
    <div class="bdbox">
        <label class="bdxx" for="email"><em></em>E-mail</label>
        <div class="textbox"><input  name="email" placeholder="{{ lang.email_use }}" maxlength="30" class="inputText" type="email" {% if regions.code == 'TW' %} error="{{ lang.test_email }}" {% endif %}>  </div>
    </div>
    <div class="bdbox">
        <label class="bdxx">{{ lang.note }}</label>
        <div class="textbox">
            <textarea name="guest" rows="1" placeholder="{{ lang.order_remark }}"></textarea>
        </div>
    </div>
    <div class="bdbox" style="flex-wrap:wrap;">
        <label class="bdxx"><em>*</em>{{ lang.cash_style }}</label>
        <div class="dxbox">
            <label for="payment_type" class="tab-sel">
                <input name="payment_type" value="0" type="radio" checked>
                <span class="huo">{{ lang.cash_on_delivery }}</span>
            </label>
        </div>
        <div class="huo_info">{{ lang.half_pre }}{{ regions.region_name }}{{ lang.half_next }}</div>
        {% if regions.code == 'THA' %}
        <div style="font-weight:900;">{{lang.customer_contact}}</div>
        {% endif %}
    </div>
</section>