<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="320" name="MobileOptimized" />
        <meta content="telephone=no" name="format-detection" />
        <title>{{ title }}</title>
        <meta name="keywords" content="{{ title }}" />
        <meta name="description" content="{{ title }}" />
        <link href="/public/image/del/favicon{{ regions.region_id }}.ico" type="image/x-icon" rel=icon>
        <link rel="stylesheet" href="/public/style/reset.css">
        <script src="{{ THEME }}/js/agent.min.js"></script>
        <script src="/public/javascript/require.js" alt={{ THEME }}></script>
        
        <script src="/public/javascript/jquery-2.2.3.min.js"></script>
        {% include '/public/theme/facebook_pixel_common.twig' %}
        {{ yahoo_js|raw }}
        <!-- google js -->
        {% include 'google_js_head.twig' %}
        <!-- end google js -->
        <link href="{{ THEME }}/style/index.css" rel="stylesheet">
        <link href="/public/plugins/swiper/swiper-3.4.0.min.css" rel="stylesheet" type="text/css" >
    </head>
<body>
<!-- end header resource -->
<style type="text/css">
	#POP800_PANEL_DIV{display: none;}
</style>
<div style="background:#fff;">
<div class="header">
    <div class="backdiv"><a href="javascript:history.go(-1)" class="goback"><i></i></a></div>
	<div class="title"><img src="{{ THEME }}/images/logo.png"></div>
	<div class="homediv"><a href="/" class="home"><img src="{{ THEME }}/images/home.png"></a></div>
</div>
<div class="swiper-container" id="secMainImg">
    <div class="swiper-wrapper" style="height: 354px;">
        {% if photos %}
            {% for p in photos %}
            <div class="swiper-slide"><img width="100%" src="{{ p.thumb }}"></div>
            {% endfor %}
        {% else %}
            <div class="swiper-slide"><img width="100%" src="{{ thumb }}"></div>
        {% endif %}
    </div>
    <div id="imgNum" class="swiper-pagination swiper-pagination-fraction pageState "></div>
</div>
<div class="mesinfo">
    <h3>{{ title }}</h3>
    <p>{{ currency_code }}{{ price }}</P>
    <del>{{ currency_code }}{{ market_price }}</del>
</div>
<div class="tip_small">
	<div class="tip_left">มีลูกค้าสั่ง {{ sales }}</div>
	<div class="tip_right">ประหยัดทันท {% if price != 0 and market_price != 0 %}{{ (((market_price-price)/market_price)*100.00)|number_format(0) }} {% endif %} %</div>
</div>

<div id="attr">
    {% if options %}
    {% for o in options %}
        <div class="attrtitle">
            {% if loop.index == 1 %}<i class="coloricon"></i>{% else %}<i class="sizeicon"></i>{% endif %}
            {{ o.attr_group_title }}
        </div>
        <div class="attrlist">
            <ul>
                {% for key,attr in o.attr %}
                <li attrkey class="" data-number="{{ o.attr_group_id }}-{{ attr.product_attr_id }}">{{ attr.name|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% else %}
        <input type="hidden" name="attrs" value="0">
    {% endif %}
    <input type="hidden" name="product_id" value="{{product_id}}">
    <input type="hidden" name="combo_id" value="0">
    <input type="hidden" name="act" id="act" value="getAttrPrice">
</div>

<div class="numberbox">
    <div class="m-selnum">
        <span class="numtitle">จํานวน</span>
        <div onclick="minnumber()" class="less z-dis">-</div>
        <div class="textWrap">
            <input type="text" class="text numbertext form-control" value="1" name="num" id="num" onblur="inputnumber();">
        </div>
        <div onclick="addnumber()" class="more">+</div>
    </div>
</div>
<p id="time"><span style="font-weight:500;display:block;line-height:30px;font-size:16px;">ราคาโปรโมชั่นสามารถใช้ได้กับ</span>  <span class="h"></span>:<span class="m"></span>:<span class="s"></span></p>
<div class="btn" data-cuckootag="confirm_arrtibute" data-event="postcheckGuige">
    <button class="buyone">รีบซื้อเลย</button>
</div>
<div class="tip">
	
	<div class="chip"><img src="{{ THEME }}/images/free_shop.png">รวมค่าส่ง</div>
	<div class="chip"><img src="{{ THEME }}/images/haver_pay.png">เงินสดในการส่งมอบ</div>
    <div class="chip"><img src="{{ THEME }}/images/7day.png">การคืนสินค้าได้7วัน</div>
</div>
<div class="nav">
	<div class="subnav blue">รายละเอียดสินค้า</div>
</div>
<div class="proinfo">
    <div class="title"><i class="icon"></i>รายละเอียดสินค้า</div>
    <div id="tab1" class="tab action">
        {{ content|replace({'<img src=': '<img class="lazyload" src="public/image/product-preview.png" data-img='})|raw }}
    </div>
</div>
<div class="User_notes" style="margin-top: 10px">
    <h2 class="notes">ปัญหาทั่วไป</h2>
    <div class="qut">
        <div class="note_text">Q. สินค้าทั้งหมดในเว็บไซต์เป็นของแท้หรือเปล่า</div>
        <div class="note_title">A. เรายึดมั่นในการควบคุมทุกรายละเอียดของสินค้าอย่างเข้มงวด เช่น แหล่งกำเนิด วัตถุดิบ  กระบวนการผลิตสินค้า ฯลฯ เพื่อช่วยให้ผู้บริโภคเลือกสินค้าที่มีคุณภาพมากที่สุด  คุณสามารถเลือกซื้อได้อย่างมั่นใจ</div>
    </div>
    <div class="qut">
        <div class="note_text">Q. ใช้ยานพาหนะอะไรมาขนส่งสินค้า</div>
        <div class="note_title">A. โดยทั่วไปแล้ว เราจะใช้เครื่องบินมาขนส่งสินค้า </div>
    </div>
    <div class="qut">
        <div class="note_text">Q. วัสดุของฉันจะ ใช้เวลากี่วันในการขนส่ง</div>
        <div class="note_title"><div style="float:left">A.</div><div style="padding-left:15px;"> 1. ถ้ามีเหตุการฉุกเฉิน เวลาส่งถึงอาจมีความล่าช้าเล็กน้อย<br>2.เนื่องจากว่าโกดังที่เก็บสินค้าอยู่ในแต่ละที่ สินค้าที่อยู่ในแพคเกจเดียวกันอาจจะถูกแบ่งออกเป็นหลายพัสดุ เวลาที่ส่งถึงของแต่ละพัสดุอาจไม่เหมือนกัน </div></div>
    </div>
</div>
 {% if regions.code == 'THA' and lang.after_sales %}
<div class="after_sale_title">{{ lang.after_sales }}</div>
<div class="after_sale">

    <div class="after_sale_content">
        <div class="after_sale_first">{{ lang.after_sales1 }}</div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales1_1 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales1_2 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales1_3 }}</span>
        </div>
    </div>
    <div class="after_sale_content">
        <div class="after_sale_first">{{ lang.after_sales2 }}</div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales2_1 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales2_2 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales2_3 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales2_4 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales2_5 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales2_6 }}</span>
        </div>
    </div>
    <div class="after_sale_content">
        <div class="after_sale_first">{{ lang.after_sales3 }}</div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales3_1 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales3_2 }}</span>
        </div>
    </div>
    <div class="after_sale_content">
        <div class="after_sale_first">{{ lang.after_sales4 }}</div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales4_1 }}</span>
        </div>
        <div>
            <span class="after_sale_circle"></span>
            <span class="after_sale_circle_right">{{ lang.after_sales4_2 }}</span>
        </div>
    </div>
</div>
{% endif %}
<div class="footer" style="display:none">
    <div class="times">ราคาโปรโมชั่นสามารถใช้ได้กับ：<span class="h"></span>:<span class="m"></span>:<span class="s"></span></div>
	<div class="btn"><button class="buyflex">รีบซื้อเลย</button></div>
</div>
</div>

<i class="m-goToTop" style="display: none;"></i>
<!-- footer resource -->
<!-- <script src="/public/plugins/touchslide/TouchSlide.1.1.js"></script> -->
<script src="{{ THEME }}/js/index.js"></script>
<script>
    ga('require', 'ec');
    
    ga('ec:addProduct', {
      'id': '{{product_id}}',
      'name': '{{title}}',
      'price': '{{price}}'
    });
    ga('ec:setAction', 'detail');
    ga('send', 'pageview');
    
    ga('ec:addProduct', {
      'id': '{{product_id}}',
      'name': '{{title}}',
      'price': '{{price}}'
    });
    ga('ec:setAction','checkout', {
        'step': 1
    });
    ga('send', 'pageview');
</script>
{% include 'public/theme/footer.twig' %}

