<div class="flexbox">
	<div class="flex regions arrow">{{ regions.region_name }}<i class="arrowIcon"></i></div>
</div>
<!-- <div class="flexbox">
	<div class="flex tab_two">
		<select name="state" required="required">
			<option value="">{{ lang.state }}</option>
		</select>
	</div>
</div>
<div class="flexbox">
	<div class="flex tab_two">
		<select name="city" required="required">
			<option value="">{{ lang.city }}</option>
		</select>
	</div>
</div>
<div class="table-row">
	<select name="district" required="required">
		<option value="">{{ lang.district }}</option>
	</select>
</div> -->
<input type="text" class="disno state" name="state">
<input type="text" class="disno city" name="city">
<input type="text" class="disno district" name="district">
<div class="table-row" onclick="showMask()">
	<textarea cols="0" rows="0" type="text" required="required" class="address" placeholder=" Lütfen adresi giriniz" ></textarea>
</div>
<div id="mask" class="mask">
	<!-- <div class="reginSelect"></div> -->
	<div class="fixed">
		<div class="regionSearch ">
			<input type="text" class="searchValue" placeholder="Lütfen alan adını giriniz, Örneğin Adana">
			<i class="smallIcon"></i>
			<i class="searchIcon"></i>
			<i class="deleteIcon"></i>
		</div>
		<div class="regionShow">
			<label> Alanı seçiniz</label>
			<span class="regionShowspan"></span>
		</div>
		<ul class="regionList pl10">
			<li>
				<span class=""></span>
				<i class="nextIcon"></i>
			</li>
		</ul>
	</div>
</div>
<div class="table-row">
    {% if theme == 'style39'%}
    <input type="text" name="address" placeholder="{{ lang.addr }}">
    {% else %}
    <input type="text" required="required" name="address" placeholder="{{ lang.addr }}">
    {% endif %}
</div>
<div class="flexbox">
	<div class="flex tab_two">
		<input type="text" required="required" name="name" maxlength="50" placeholder="{{ lang.name }}">
	</div>
	<div class="flex tab_two">
		<input type="number" name="postal" readonly placeholder="{{ lang.postal }}" maxlength="20">
	</div>
</div>
<div class="flexbox">
	<div class="flex tab_two">
		<input type="tel" required="required" name="mob" placeholder="{{ lang.phone }}">
	</div>
	<div class="flex tab_two">
		<input type="email" name="email" placeholder="{{ lang.email }}">
	</div>
</div>
<div class="table-row">
	<input type="text" name="guest" placeholder="{{ lang.note }}">
</div>
<div class="flexbox">
	{% if payment_underline == 1 %}
	<div class="flex tab_two tab_sele action" rel="0">
		<i class="icon"></i>{{ lang.cash_on_delivery }}</div>
	{% endif %} {% if payment_online == 1 or payment_paypal == 1 or payment_asiabill == 1 %}
	<div class="flex tab_two">
		<div class="tab_sele">
			<i class="icon"></i>{{ lang.order_onlinepay }}</div>
	</div>
	{% endif %}
	<input name="payment_type" value="0" type="hidden">
</div>
<div class="table-row pay-type" style="display: none;">
	<select id="pay-online">
		{% if payment_online == 1 %}
		<option value="1">{{ lang.yijifu }}</option>
		{% endif %} {% if payment_paypal == 1 %}
		<option value="2">paypal</option>
		{% endif %} {% if payment_asiabill == 1 %}
		<option value="3">Asiabill</option>
		{% endif %}
	</select>
</div>
<style>
	select[name="state"],
	select[name="city"] {
		height: 44px;
		width: 100%;
		font-size: 14px;
		color: #666;
		border: 1px solid #eee;
		border-radius: 4px;
		text-indent: 16px;
	}

	.address{
    background: #fff;
    color: #666;
    border-radius: 4px;
    opacity: 1;
    resize: none;
    padding-left: 16px;
    width: calc(100% - 50px);
    padding-top: 8px;
    padding-right: 34px;
		border-color:#eee;
		-webkit-appearance: none;
	}

	.arrow{
		position:relative;
	}
	.arrowIcon{
		position:absolute;
		width:32px;
		height:32px;
		top:50px;
		right:0px;
		background: url(/public/image/arrow.png) no-repeat;
	}


	.mask {
		position: absolute;
		top: 0px;
		filter: alpha(opacity=60);
		background-color: rgba(0, 0, 0, .5);
		z-index: 1002;
		left: 0px;
		display: none;
		max-width: 640px;
	}

	div.fixed {
		max-width: 640px;
		width: 100%;
		height: 67.5%;
		overflow: auto;
		display: block;
		margin: 0px;
		position: absolute;
		bottom: 0;
		background-color: #fff;
		opacity: 1;
		box-sizing: border-box;
	}
	.toggleFixed{
		position:fixed;
		top:0;
		left:0;
		right:0;
		margin:0 auto;
	}

	.regionSearch {
		position: relative;
		padding: 20px 10px 0 10px;

	}

	.regionSearch input {
		border: 1px solid #eee;
		border-radius: 4px;
		padding: 0;
		width: 100%;
		line-height: 42px;
		color: #666;
		text-indent: 16px;
		background: #f6f6f6;
	}

	.regionSearch .smallIcon {
		position: absolute;
		width: 12px;
		height: 12px;
		top: 36px;
		left: 22px;
		background: url(/public/image/ic_search.png) no-repeat;
		background-size: 12px 12px;
		display: none;
	}

	.regionSearch .searchIcon {
		position: absolute;
		width: 36px;
		;
		height: 36px;
		right: 12px;
		top: 24px;
		background: url(/public/image/ic_search_black_24px.png) no-repeat;
		background-size: 36px 36px;
	}

	.regionSearch .deleteIcon {
		position: absolute;
		width: 30px;
    height: 30px;
    top: 26px;
    right: 15px;
		background: url(/public/image/x.png) no-repeat;
		background-size: 12px 12px;
		background-position: center center;
		display: none;
	}

	.regionShow {
		margin-top: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}

	.regionShow label {
		color: #aaa;
		margin-left: 10px;
	}

	.regionShow .regionShowspan {
		color: #666;
		margin-left: 10px;
	}

	.pl10 {
		padding-left: 10px;
	}
	.ml10{
		margin-left: 10px;
	}

	.regionList li {
		border-bottom: 1px solid #eee;
		line-height: 42px;
		position: relative;
	}

	.regionList span {
		color: #666;
		font-size: 14px;
	}

	.ml20 {
		margin-left: 20px;
	}

	.nextIcon {
		position: absolute;
		width: 8px;
		height: 12px;
		background: url(/public/image/next1.png) no-repeat;
		background-size: 8px 12px;
		top: 14px;
		right: 16px;
	}

	.disno {
		display: none;
	}
</style>
<script type="text/javascript">

	var obj = {};
	
	$(".address").focus(function () {
			document.activeElement.blur();
		});

	//默认列表展示
	function province(id) {
		$.post(
			'/region.php',
			{ 'region_id':id || {{ regions.region_id }} },
	function(data) {
		var data = JSON.parse(data);
		var str = "";
		$.each(data, function (index, item) {
			str +=
				'<li>' +
				'<span class="provinceName">' + item.name + '</span>' +
				'<span class="disno id">' + item.id_region + '</span>' +
				'<i class="nextIcon"></i>' +
				'</li>'
		});
		$(".regionList").html(str);

		$(".regionList li").on("click", function () {
			var id = $(this).children(".id").text();
			var name = $(this).children(".provinceName").text();
			obj.province = name;
			$(".regionShowspan").text(name);
			city(id);//传入id渲染市级列表
		});
	});
				};

	//市级地区选取
	function city(id) {
		$.post(
			'/region.php',
			{ 'yn_region_id': id },
			function (data) {
				var data = JSON.parse(data);
				var str = "";
				$.each(data, function (index, item) {
					str +=
						'<li>' +
						'<span class="cityName">' + item.name + '</span>' +
						'<span class="disno id">' + item.id_region + '</span>' +
						'<i class="nextIcon"></i>' +
						'</li>'
				});
				$(".regionList").html(str);
				$(".regionList li").on("click", function () {
					var id = $(this).children(".id").text();
					var name = $(this).children(".cityName").text();
					var provinceName = obj.province;
					obj.city = name;
					$(".regionShowspan").text(provinceName + "-" + name);
					district(id);//传入id渲染区级列表
				});
			});
	};

	//区级地区选取
	function district(id) {
		$.post(
			'/region.php',
			{ 'yn_region_id': id },
			function (data) {
				var data = JSON.parse(data);
				console.log(data);
				var str = "";
				$.each(data, function (index, item) {
					str +=
						'<li>' +
						'<span class="districtName">' + item.name + '</span>' +
						'<span class="disno id">' + item.id_region + '</span>' +
						'<span class="disno post_code">' + item.post_code + '</span>' +
						'<i class="nextIcon"></i>' +
						'</li>'
				});
				$(".regionList").html(str);

				$(".regionList li").on("click", function () {
					var name = $(this).children(".districtName").text();
					var post_code = $(this).children(".post_code").text();
					obj.district = name;
					var all = obj.province + "-" + obj.city + "-" + name;
					$(".regionShowspan").text(all);
					$(".address").val(all);
					$(".state").val(obj.province);
					$(".city").val(obj.city);
					$(".district").val(obj.district);
					$("input[name='postal']").val(post_code);
					hideMask();
				});

			});
	};

	$(".arrowIcon").on("click",function(){
		showMask()
	});

	//显示遮罩层
	function showMask() {
		var h = $(window).height();
		$("#mask").css("height", h);
		$("#mask").css("width", $(document).width());
		$("#mask").show();
		$("body").css("overflow", "hidden");
		$("body").addClass("toggleFixed");
		province();
	};
	//关闭遮罩层
	function hideMask() {
		$("#mask").hide();
		$("body").css("overflow", "auto");
		$(".regionList").addClass("pl10");
		$(".regionList span").removeClass("ml20");
		$(".regionShow label").text(" Alanı seçiniz");
		$(".searchValue").val('');
		$(".regionSearch .searchIcon").show();
		$(".regionSearch .smallIcon").hide();
		$(".regionSearch input").css("text-indent", "16px");
		$(".deleteIcon").hide();
		$(".regionShowspan").text('');
			$("body").removeClass("toggleFixed");
	};
	//点击关闭弹窗
	(function () {
		$(".mask").on("click", function (event) {
			hideMask();
		});
		$(".fixed").on("click", function (e) {
			e.stopPropagation();
		})
	})();

	//搜索
	$(".searchIcon").on("click", function () {
		$(".regionList").removeClass("pl10");
		$(".regionList span").addClass("ml20");
		$(".regionSearch .searchIcon").hide();
		$(".regionSearch .smallIcon").show();
		$(".deleteIcon").show();
		$(".regionShow label").text("Arama sonuçları");
		$(".regionShowspan").text('');
		$(".regionSearch input").css("text-indent", "32px");


		var name = $(".searchValue").val();

		$.post(
			'/region.php',
			{ 'name': name, 'id_zone': {{ regions.region_id }} },
		function (data) {
			var data = JSON.parse(data);
			console.log(data);
			if(data.msg == "No data was found"){
					$(".regionList").html("<li><span class='ml10'>Arama sonucu yok</span></li>");
				return;
			}
			var str = "";
			$.each(data, function (index, item) {
				var arr = item.id_parent;
				if (arr) {
					for (var i = 0; i < arr.length; i++) {
						if (arr[i].id_parent == "0") {
							var province = arr[i].name;
						} else {
							var city = arr[i].name;
						}
					};

					if (arr.length == 1 && arr[0] != false) {
						var name = province + "-" + item.name;
					} else if (arr[0] == false) {
						var name = item.name;
					} else {
						var name = province + "-" + city + "-" + item.name;
					};

				};
			
				str +=
					'<li>' +
					'<span class="name ml20">' + name + '</span>' +
					'<span class="disno id">' + item.id_region + '</span>' +
						'<span class="disno post_code">' + item.post_code + '</span>' +
					'<i class="nextIcon"></i>' +
					'</li>'
			});
			$(".regionList").html(str);
			$(".regionList li").on("click", function () {
				$(".regionList").addClass("pl10");
				var id = $(this).children(".id").text();
				var s = $(this).children(".name").text();
					var post_code = $(this).children(".post_code").text();
				var n = (s.split('-')).length - 1;
				//至搜索到省
				if(n==0){
					obj.province = s;
					city(id);
					//搜索到省市
				}else if(n==1){
					obj.province = s.split('-')[0];
					obj.city = s.split('-')[1];
					district(id);
					//搜索到省市区
				}else{
					$(".address").val(s);
					$(".state").val(s.split('-')[0]);
					$(".city").val(s.split('-')[1]);
					$(".district").val(s.split('-')[2]);
						$("input[name='postal']").val(post_code);
					hideMask();
				};
				$(".regionShowspan").text(s);
				$(".regionShow label").text(" Alanı seçiniz");
			})
		});
		});

	//清除搜索结果
	$(".deleteIcon").on("click", function () {
		$(".regionList").addClass("pl10");
		$(".regionList span").removeClass("ml20");
		$(".regionShow label").text(" Alanı seçiniz");
		$(".regionSearch .searchIcon").show();
		$(".regionSearch .smallIcon").hide();
		$(".regionSearch input").css("text-indent", "16px");
		$(".deleteIcon").hide();
		$(".searchValue").val("");
		province();
	})

		// $('[name="state"]').change(function(event) {
		// 	var id = $(this).children().filter(':selected').attr('data-id');
		// 	loadCity(id);
		// 	$('[name="postal"]').val('');
		// });
		// $('[name="city"]').change(function(event) {
		// 	var id = $(this).children().filter(':selected').attr('data-id') || '';
		// 	loadDistrict(id);
		// 	$('[name="postal"]').val('');
		// });
		// $('[name="district"]').change(function(event) {
		// 	var postal = $(this).find("option:selected").attr('data-postal') || '';
		// 	$('[name="postal"]').val(postal);
		// });

		// +(function loadstate(){
		// 	$.post('/region.php', { 'region_id': {{ regions.region_id }} }, function(data) {
		// 		var data = JSON.parse(data);
		// 			data.map(function(item, index){
		// 				$('[name="state"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
		// 			});
		// 		var id = $('[name="state"]').children().filter(':selected').attr('data-id');
		// 	});
		// })();
		// function loadCity(id, callback){
		// 	$.post('/region.php', { 'yn_region_id': id }, function(data, textStatus, xhr) {
		// 		$('[name="city"]').children().not(":eq(0)").remove();
		// 		$('[name="district"]').children().not(":eq(0)").remove();
		// 		var data = JSON.parse(data);
		// 		data.map(function(item, index){
		// 			$('[name="city"]').append('<option value="'+item.name+'" data-id="'+item.id_region+'">'+item.name+'</option>');
		// 		});
		// 	});
		// }
		// function loadDistrict(id){
		// 	$.post('/region.php', { 'yn_region_id': id }, function(data) {
		// 		$('[name="district"]').children().not(":eq(0)").remove();
		// 		var data = JSON.parse(data);
		// 			data.map(function(item, index){
		// 				$('[name="district"]').append('<option  data-id_region="'+item.id_region+'" value="'+item.name+'" data-postal="'+item.post_code+'">'+item.name+'</option>');
		// 			});
		// 	});
		// }
</script>