<div class="dt-paramselect">
    <div class="back_index"></div>
    <input type="hidden" name="orderid" id="orderid" value="">
    <input type="hidden" name="act" id="act" value="getAttrPrice">
    {% if tips %}<p class="tips">{{ tips }}</p>{% endif %}
    <!-- 套餐选择 -->
    <div class="u-format" id="comb" data-price="">
        <div class="tt">{{ lang.Th_titleattr }}</div>
        <div class="package">
        {% if combo %}
            {% for c in combo %}
            <label class="tab {%if loop.length == 1%}tab-sel{%endif%}" rel="1" data-price="{{ c.price }}" data-loopIndex="{{ loop.index }}" single_c="{{c.is_single_combo}}">
                <input type="radio" style="opacity: 0;position: absolute" name="combo_id" value="{{ c.combo_id }}" {%if loop.length == 1%}checked="chekced"{%endif%} />
                <span class="text_this">{{ c.title|raw }}</span>
            </label>
            {%if loop.index == 1%}
            <input type="hidden" name="price" value="{{ c.price }}">
            {%endif%}
            {% endfor %}
        {% else %}
            <label class="tab tab-sel" rel="1" data-price="{{ price }}" data-loopIndex="1" single_c="0">
                <input type="radio" style="opacity: 0;position: absolute" name="combo_id" value="0" checked="chekced" />
                <span class="text_this">{{ title }}</span>
            </label>
            <input type="hidden" name="price" value="{{ price }}">
        {% endif %}
        </div>
    </div>
    <!-- 套餐选择 end -->
    <div class="numberbox">
        <div class="numtitle">{{ lang.num }}</div>
        <div class="m-selnum">
            <div onclick="minnumber()" class="less z-dis">-</div>
            <div class="textWrap">
                <input type="text" class="text numbertext form-control" value="1" name="num" id="num" onblur="inputnumber();">
            </div>
            <div onclick="addnumber()" class="more">+</div>
        </div>
    </div>
    <!-- 套餐－属性选择 -->
    {% if combo %}
        <!-- 循环套餐 -->
        {% for om in combo %}
            <section data-loopIndex="{{ loop.index }}" comobid="{{ om.combo_id }}" productid="{{ om.product_id }}" style="display: none;">
            {% for ok in om.goods %}
                {% if ok.options %}
                    <div class="tc tc{{ ok.combo_id|raw }}"><div class="title_ac"><h5>{{ ok.title|raw }}</h5></div>
                        {% for o in  ok.options %}
                            <li class="item protoLayer">
                                <div class="u-format count_atrr" data-group="{{ ok.combo_goods_id }}-{{ o.attr_group_id }}" data-select="0">
                                    <div class="tt" style="margin-top: 0">{{ o.attr_group_title|raw }}<span class="attrname"></span></div>
                                    <div class="con">
                                        <!-- 属性值 -->
                                        {% for key,attr in o.attr %}
                                            <div class="tab" data-id="{{ attr.product_attr_id }}" data-img="{{ attr.thumb }}" data-name="{{ attr.name|raw }}">
                                                {% if attr.thumb %}
                                                    <img src="{{ attr.thumb }}" alt="" class="attr_img">
                                                    <i class="u-icon u-spec-sel"></i><img src="{{ THEME }}/images/Group 820@2x.png" class="checkimg">
                                                {% else %}
                                                        <span>{{ attr.name|raw }}</span>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="cls"></div>
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            </section>
        {% endfor %}
    {% else %}
    <!-- 单产品属性选择 -->
        <section data-loopIndex="1">
        {% for o in  options %}
            <li class="item protoLayer">
                <div class="u-format count_atrr" data-group="{{ o.attr_group_id }}" data-select="0">
                    <div class="tt">{{ o.attr_group_title|raw }}<span class="attrname"></span></div>
                    <div class="con">
                        {% for key,attr in o.attr %}
                            <div class="tab" data-id="{{ attr.product_attr_id }}" data-name="{{ attr.name|raw }}">
                                {% if attr.thumb %}
                                <img src="{{ attr.thumb }}" class="attr_img">
                                <i class="u-icon u-spec-sel"></i><img src="{{ THEME }}/images/Group 820@2x.png" class="checkimg">
                                {% else %}
                                    <span>{{ attr.name|raw }}</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="cls"></div>
            </li>
        {% endfor %}
        </section>
    {% endif %}
    <!--产品的所有属性-->
    <input type="hidden" name="heavn" class="attr_id" value="">
    <input type="hidden" name="attrnum" value="2">
    <!--数量-->
</div>
<footer class="m-orderFt">
    <button class="btn w-button" data-cuckootag="confirm_arrtibute" data-event="postcheckGuige">{{ lang.submit_order }}</button>
    <div class="actualPrice">
        {% if currency_prefix == 1 %}
            <label class="label" style="font-size: 12px;">{{ currency_code }}</label>
            <span id="price" class="value" currentprice>{{ price }}</span>
        {% endif %}
        {% if currency_prefix == 0 %}
            <span id="price" class="value" currentprice>{{ price }}</span>
            <label class="label" style="font-size: 12px;">{{ currency_code }}</label>
        {% endif %}
        <span class="market_dd">
            <span class="old">{{ lang.market_price }}</span>
            <del>
            {% if new_price_format %}
                {{ new_price_format.symbol_left }}{{ new_price_format.market_price_format }}{{ new_price_format.symbol_right }}
            {% endif %}
            <!-- {% if currency_prefix == 1 %}
                {{ currency_code }}{{ market_price }}
            {% endif %}
            {% if currency_prefix == 0 %}
                {{ market_price }}{{ currency_code }}
            {% endif %} -->
            </del>
        </span>
    </div>
</footer>