<!--  -->
<input type="hidden" name="region_id" value="{{ regions.region_id }}">
<div class="address-input">
    <div class="address-title">
        <span style='font-size:16px;'>{{ lang.addr }}</span>
        <span class="kefu">{{ lang.customer }}</span>
        <a href="javascript:;" class="left" data-cuckootag="service" data-value="{{ service_contact_id }}">
            <div class="kefu" data-cuckootag="service" data-value="{{ service_contact_id }}">{{ lang.service_online }}</div>
        </a>
    </div>
    <div class="double-row" style="font-size:14px;font-weight:900">
        {{lang.customer_contact}}
    </div>
    <div class="buy-single-row">
        <div class="cell">
            <input required="required" placeholder="{{ lang.name_placeholder }}" type="text" name="name">
        </div>
    </div>
    <div class="buy-single-row">
        <div class="cell">
            <input required="required" placeholder="{{ lang.phone }}" type="number" name="mob">
        </div>
    </div>
    <div class="buy-single-row">
        <div class="cell">
            <input placeholder="{{ lang.email_address }}" error="{{ lang.test_email }}" type="email" name="email">
        </div>
    </div>
    <div class="double-row">
        <div class="cell">
            <select name="province">
                <option value="{{ regions.region_id }}" selected> {{ regions.region_name }}</option>
            </select>
        </div>
        {% if regions.region_son and regions.code != 'MYS' and regions.code != 'TW' %}
            <div class="cell">
                <select name="city">
                    <option value="">{{ lang.province_choose }}</option>
                    {% for i in regions.region_son %}
                        <option value="{{ i.lang}}">{{ i.lang }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
    {% if regions.code == "TW" %}
    <div class="double-row">
        <div class="cell">
            <select name="city" required="required">
                <option value="">{{lang.city}}</option>
            </select>
        </div>
    </div>
    <div class="double-row">
        <div class="cell">
            <select name="district" required="required">
                <option value="">{{lang.district}}</option>
            </select>
        </div>
    </div>
    {% endif %}
    <div class="buy-single-row">
        <div class="cell">
            <input  type="text" name="address" placeholder="{{ lang.full_address }}">
        </div>
    </div>
    <div class="buy-single-row">
        <div class="cell">
            <input type="text" name="postal" placeholder="{{ lang.postal_long }}" error="{{ lang.test_postal }}" data-error="{{ lang.postal_error }}">
        </div>
    </div>
    <div class="buy-single-row">
        <div class="cell">
            <textarea placeholder="{{ lang.remark }}" name="guest" rows="4"></textarea>
        </div>
    </div>
    <div class="buy-single-row payment">
        <div class="cell">
            {% if payment_underline ==1 %}
                <input name="payment_type" value="0" id="0" type="radio"><label for="0" class="check">{{ lang.cash_on_delivery }}</label>
            {% endif %}
            {% if payment_online ==1 %}
                <input name="payment_type" value="1" id="1" type="radio"> <label for="1">{{ lang.yijifu }}</label>
            {% endif %}
            {% if payment_paypal == 1 %}
                <input name="payment_type" value="2" id="2" type="radio"> <label for="2">paypal</label>
            {% endif %}
        </div>
    </div>
</div>